{
  "openapi": "3.1.0",
  "info": {
    "title": "API do Faturamento Automático",
    "version": "1.0.0",
    "description": "Você que é dev, divirta-se! ✨\n\n> **Índice da documentação** — acesse o índice completo em [https://docs.billing.kobana.com.br/llms.txt](https://docs.billing.kobana.com.br/llms.txt). Use este arquivo para descobrir todas as páginas disponíveis antes de explorar.\n\n> **Atenção às versões da API** — você está na documentação da **v1.0** da API do Faturamento Automático, que cobre os endpoints de **Assinaturas** (criação, alteração de plano, pausa, cancelamento, faturamento manual, sincronização de itens) e recursos correlatos. Recursos como **Pagamentos, Transferências, Extrato e Recebimento por Pix** seguem disponíveis em outras APIs da Kobana — use o seletor de produto no menu superior para acessá-las.\n\n## Formato\n\nA API aceita apenas o formato `JSON`. Todas as requisições devem usar `Content-Type: application/json`. Todas as respostas usam `snake_case`.\n\n| Tipo de Campo | Formato |\n| :--- | :--- |\n| **DateTime** | Formato [ISO8601](https://pt.wikipedia.org/wiki/ISO_8601). Exemplos — Data: `2026-01-24`. Data e Hora: `2026-01-24T10:07Z` |\n| **Money (`_cents`)** | Inteiro em centavos (÷100). Ex.: `10000` = R$ 100,00 |\n| **Money (`_subcents`)** | Inteiro em subcentavos (÷10000), usado em precificação. Ex.: `1000000` = R$ 100,00 |\n| **UUID** | Identificadores de recursos no formato UUID v4 |\n\n## Convenções\n\nConvenções usadas nesta documentação:\n\n| Convenção | Descrição |\n| :--- | :--- |\n| **`:variable`** | Nome de variável que precisa ser substituída em uma URL. |\n| **`#{variable}`** | Nome de variável que precisa ser substituída por valores da sua conta. |\n| **`...`** | Conteúdo da resposta truncado para facilitar a leitura. |\n| **`$KOBANA_TOKEN`** | Token de acesso. Para testes em linha de comando, exporte-o: `export KOBANA_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxx` e cole os comandos da documentação no terminal. |\n\n## Códigos de Retorno\n\nA API retorna códigos HTTP padrão:\n\n| | Código | Descrição |\n| :--- | :--- | :--- |\n| ✅ | **200 OK** | Requisição bem-sucedida com corpo de resposta. |\n| ✅ | **201 Created** | Recurso criado com sucesso. |\n| ✅ | **204 No Content** | Requisição bem-sucedida, sem corpo de resposta. |\n| ❌ | **400 Bad Request** | Requisição inválida, em geral conteúdo mal formado. |\n| ❌ | **401 Unauthorized** | Token de acesso ausente ou inválido. |\n| ❌ | **403 Forbidden** | Acesso à API bloqueado ou usuário sem permissão. |\n| ❌ | **404 Not Found** | Endereço acessado não existe. |\n| ❌ | **422 Unprocessable Entity** | Requisição válida, mas os dados enviados não são. |\n| ❌ | **429 Too Many Requests** | Limite de requisições atingido. |\n| ❌ | **500 Internal Server Error** | Erro interno no processamento. Consulte o [status dos servidores](https://status.kobana.com.br). |\n\n## ID das Requisições (Request ID)\n\nCada requisição possui um identificador associado, disponível no cabeçalho `Request-Id` da resposta. Esse valor ajuda na depuração e auditoria — as requisições e seus IDs podem ser consultadas no painel do sistema. O log de requisições fica disponível por **30 dias**. Ao abrir um chamado de suporte sobre uma requisição específica, informe o `Request-Id` para acelerar a investigação.\n\n## Segurança\n\nA API da Kobana usa certificados **SSL 2048 bits**. Toda requisição deve ser feita via **HTTPS** — chamadas na porta 80 são redirecionadas para 443.\n\nOs clientes devem suportar `TLSv1.2` ou `TLSv1.3` com uma das cifras: `TLS_AES_128_GCM_SHA256`, `TLS_AES_256_GCM_SHA384`, `TLS_CHACHA20_POLY1305_SHA256`, `ECDHE-RSA-AES128-GCM-SHA256`, `ECDHE-RSA-AES128-SHA256`, `ECDHE-RSA-AES256-GCM-SHA384`, `ECDHE-RSA-CHACHA20-POLY1305`, `ECDHE-RSA-AES256-SHA384`. `TLSv1` e `TLSv1.1` não são suportados.\n\n## Cache HTTP\n\nUse os cabeçalhos HTTP de cache para reduzir carga e ganhar velocidade. A maioria das respostas inclui `ETag` e/ou `Last-Modified` — armazene esses valores e reenvie nas próximas requisições via `If-None-Match` e `If-Modified-Since`. Se o recurso não mudou, a resposta será `304 Not Modified`, sem corpo e sem reprocessamento. Mais informações: [HTTP Cache Docs](http://www.mnot.net/cache_docs/).\n\n## Tratamento de Erros\n\nErros 5xx indicam falhas no servidor: **500 Internal Server Error** (aplicação indisponível), **502 Bad Gateway**, **503 Service Unavailable** e **504 Gateway Timeout** (falhas pontuais de infraestrutura). Sua aplicação deve identificar esses códigos e reagendar a requisição após alguns minutos com backoff. Status dos servidores: [https://status.kobana.com.br](https://status.kobana.com.br).\n\n## Valores monetários\n\nValores monetários seguem duas convenções: campos com sufixo `_cents` (÷100) e campos de precificação com sufixo `_subcents` (÷10000). Use estas convenções para converter para reais (BRL) antes de exibir ao usuário final.",
    "license": {
      "name": "Proprietário — Kobana",
      "url": "https://kobana.com.br"
    }
  },
  "servers": [
    {
      "url": "https://api.billing.kobana.com.br",
      "description": "Produção. Substituído em tempo de execução quando `API_V1_PUBLIC_URL` é definido."
    },
    {
      "url": "https://api.billing.sandbox.kobana.com.br",
      "description": "Sandbox — ambiente de testes isolado da produção."
    }
  ],
  "components": {
    "schemas": {
      "ApiV1Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Código de erro estável. Use este campo para tratar o erro programaticamente — nunca faça parse da `message`.",
                "example": "invalid_token"
              },
              "message": {
                "type": "string",
                "description": "Mensagem legível para humanos. Nunca inclui dados do usuário verbatim.",
                "example": "Cabeçalho Authorization ausente."
              },
              "details": {
                "description": "Payload opcional específico do erro (ex.: `{ required, granted }` em `insufficient_scope`)."
              }
            },
            "required": [
              "code",
              "message"
            ],
            "description": "Envelope de erro. Presente em toda resposta 4xx e 5xx."
          }
        },
        "required": [
          "error"
        ]
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total de itens em todas as páginas."
          },
          "page": {
            "type": "integer",
            "description": "Página atual (começa em 1)."
          },
          "per_page": {
            "type": "integer",
            "description": "Itens por página."
          },
          "total_pages": {
            "type": "integer",
            "description": "Total de páginas."
          }
        },
        "required": [
          "total",
          "page",
          "per_page",
          "total_pages"
        ]
      },
      "DeletedResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "deleted": {
                "type": "boolean",
                "example": true
              }
            },
            "required": [
              "deleted"
            ]
          }
        },
        "required": [
          "data"
        ]
      },
      "SubscriptionV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "public_id": {
            "type": "string",
            "format": "uuid",
            "description": "Identificador público estável do recurso."
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Identificador no seu sistema externo, para idempotência/sincronização."
          },
          "billing_account_id": {
            "type": "string",
            "format": "uuid"
          },
          "company_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "plan_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "product_group_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "confirmed",
              "trialing",
              "active",
              "past_due",
              "canceled",
              "paused",
              "suspended"
            ],
            "description": "Estado da assinatura. Ciclo: `draft` → `confirmed` → `trialing` → `active` ↔ `past_due` → `canceled`. Também aceita `paused`."
          },
          "billing_cycle": {
            "type": "string",
            "enum": [
              "monthly",
              "quarterly",
              "semiannual",
              "annual"
            ],
            "description": "Periodicidade de cobrança: mensal, trimestral, semestral ou anual."
          },
          "current_period_start": {
            "type": "string",
            "format": "date-time",
            "description": "Início do período de cobrança atual."
          },
          "current_period_end": {
            "type": "string",
            "format": "date-time",
            "description": "Fim do período de cobrança atual."
          },
          "cycle_billing_date": {
            "type": "string",
            "format": "date-time",
            "description": "Data de faturamento do ciclo: quando a próxima fatura da assinatura é gerada. Seu dia do mês também define a geração mensal das faturas de excedente."
          },
          "trial_start": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "trial_end": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "activated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "confirmed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "cancel_at_period_end": {
            "type": "boolean",
            "description": "Quando `true`, a assinatura será cancelada ao fim do período atual em vez de imediatamente."
          },
          "canceled_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "cancellation_reason": {
            "type": [
              "string",
              "null"
            ]
          },
          "pause_collection": {
            "description": "Quando pausada, contém `{ behavior, resumes_at }`. `null` quando ativa."
          },
          "paused_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "resumes_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "resumed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "discount_code_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "discount_percent": {
            "type": [
              "string",
              "null"
            ],
            "description": "Decimal como string (ex.: `\"10.00\"` = 10%). Faixa: 0–100."
          },
          "recurring_amount_cents": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Valor recorrente em centavos (÷100 → BRL).",
            "example": 9990
          },
          "proration_behavior": {
            "type": "string",
            "enum": [
              "create_prorations",
              "none",
              "always_invoice"
            ],
            "description": "Comportamento de proração ao trocar de plano. `create_prorations` (padrão): gera ajuste; `none`: ignora; `always_invoice`: emite fatura imediata."
          },
          "collection_method": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "charge_automatically",
              "manual_charge",
              "manual_invoice"
            ],
            "description": "`charge_automatically`: fatura e cobrança automáticas. `manual_charge`: fatura automática, cobrança manual. `manual_invoice`: ambos manuais."
          },
          "nfe_issuance_policy": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "disabled",
              "on_finalization",
              "on_full_payment",
              "per_installment"
            ],
            "description": "Política de emissão de NF-e: `disabled`, `on_finalization`, `on_full_payment` ou `per_installment`."
          },
          "renewal_settings": {
            "description": "`{ type: \"auto_renew\" | \"cancel\" | \"downgrade_to_flexible\", ... }`."
          },
          "commitment": {},
          "allow_pause": {
            "type": "boolean"
          },
          "allow_cancel": {
            "type": "boolean"
          },
          "proposal_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {},
            "description": "Metadados internos somente leitura, gerados pelo sistema."
          },
          "custom_metadata": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {}
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "public_id",
          "external_id",
          "billing_account_id",
          "company_id",
          "plan_id",
          "product_group_id",
          "status",
          "billing_cycle",
          "current_period_start",
          "current_period_end",
          "cycle_billing_date",
          "trial_start",
          "trial_end",
          "activated_at",
          "confirmed_at",
          "cancel_at_period_end",
          "canceled_at",
          "cancellation_reason",
          "discount_code_id",
          "discount_percent",
          "recurring_amount_cents",
          "proration_behavior",
          "collection_method",
          "nfe_issuance_policy",
          "allow_pause",
          "allow_cancel",
          "proposal_id",
          "notes",
          "metadata",
          "custom_metadata",
          "created_at",
          "updated_at"
        ]
      },
      "SubscriptionListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubscriptionV1"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data",
          "meta"
        ]
      },
      "SubscriptionResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/SubscriptionV1"
          }
        },
        "required": [
          "data"
        ]
      },
      "SubscriptionCreateRequest": {
        "type": "object",
        "properties": {
          "billing_account_id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID da conta de cobrança que receberá esta assinatura."
          },
          "external_id": {
            "type": "string",
            "description": "Identificador no seu sistema externo, para idempotência/sincronização."
          },
          "company_id": {
            "type": "string",
            "format": "uuid"
          },
          "plan_id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID do plano. Obrigatório quando `items` não é enviado."
          },
          "product_group_id": {
            "type": "string",
            "format": "uuid"
          },
          "billing_cycle": {
            "type": "string",
            "enum": [
              "monthly",
              "quarterly",
              "semiannual",
              "annual"
            ]
          },
          "collection_method": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "charge_automatically",
              "manual_charge",
              "manual_invoice"
            ]
          },
          "trial_end": {
            "type": "string",
            "format": "date-time",
            "description": "Data de término do trial (ISO 8601)."
          },
          "trial_period_days": {
            "type": "integer",
            "minimum": 0,
            "description": "Alternativa a `trial_end`. Dias de trial a partir da criação."
          },
          "discount_code_id": {
            "type": "string",
            "format": "uuid"
          },
          "proration_behavior": {
            "type": "string",
            "enum": [
              "create_prorations",
              "none",
              "always_invoice"
            ]
          },
          "nfe_issuance_policy": {
            "type": "string",
            "enum": [
              "disabled",
              "on_finalization",
              "on_full_payment",
              "per_installment"
            ]
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "product_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "price_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "quantity": {
                  "type": "integer",
                  "minimum": 1,
                  "default": 1
                },
                "unit_amount_subcents": {
                  "type": "integer",
                  "minimum": 0,
                  "description": "Precisão de 4 decimais (÷10000 → BRL). Sobrescreve o valor do preço."
                }
              },
              "required": [
                "product_id",
                "price_id"
              ]
            }
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "custom_metadata": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "required": [
          "billing_account_id"
        ]
      },
      "SubscriptionUpdateRequest": {
        "type": "object",
        "properties": {
          "external_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Novo identificador no seu sistema externo. Use `null` para limpar."
          },
          "plan_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "billing_cycle": {
            "type": "string",
            "enum": [
              "monthly",
              "quarterly",
              "semiannual",
              "annual"
            ]
          },
          "collection_method": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "charge_automatically",
              "manual_charge",
              "manual_invoice"
            ]
          },
          "cancel_at_period_end": {
            "type": "boolean"
          },
          "discount_code_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "discount_percent": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "maximum": 100
          },
          "proration_behavior": {
            "type": "string",
            "enum": [
              "create_prorations",
              "none",
              "always_invoice"
            ]
          },
          "nfe_issuance_policy": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "disabled",
              "on_finalization",
              "on_full_payment",
              "per_installment"
            ]
          },
          "allow_pause": {
            "type": "boolean"
          },
          "allow_cancel": {
            "type": "boolean"
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "custom_metadata": {
            "type": "object",
            "additionalProperties": {}
          },
          "custom_metadata_mode": {
            "type": "string",
            "enum": [
              "replace",
              "merge"
            ],
            "description": "Como o `custom_metadata` enviado é reconciliado com o valor armazenado. `replace` (padrão) substitui todo o objeto; `merge` faz um deep merge sobre o valor atual — objetos aninhados são mesclados recursivamente, escalares e arrays substituem a chave, e chaves `null` são mantidas (não removem a chave). Aceito apenas na atualização.",
            "example": "merge"
          }
        }
      },
      "SubscriptionPauseRequest": {
        "type": "object",
        "properties": {
          "behavior": {
            "type": "string",
            "enum": [
              "mark_uncollectible",
              "keep_as_draft",
              "void"
            ],
            "description": "Como tratar faturas geradas durante a pausa. Padrão: `mark_uncollectible`."
          },
          "resumes_at": {
            "type": "string",
            "format": "date-time",
            "description": "Data para retomada automática. Omita para retomada manual."
          }
        }
      },
      "SubscriptionChangePlanRequest": {
        "type": "object",
        "properties": {
          "plan_id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID do novo plano."
          },
          "timing": {
            "type": "string",
            "enum": [
              "immediate",
              "end_of_period"
            ],
            "description": "Quando a troca de plano entra em vigor. Padrão: `immediate`."
          },
          "reason": {
            "type": "string",
            "description": "Motivo da troca (opcional, registrado no audit log)."
          }
        },
        "required": [
          "plan_id"
        ]
      },
      "SubscriptionCancelRequest": {
        "type": "object",
        "properties": {
          "cancel_at_period_end": {
            "type": "boolean",
            "description": "Quando `true`, agenda o cancelamento para o fim do período atual. Padrão: `false` (cancela imediatamente)."
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "BillingAccountCustomerV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": "string"
          },
          "nickname": {
            "type": [
              "string",
              "null"
            ]
          },
          "legal_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "document_type": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "cpf",
              "cnpj"
            ]
          },
          "document_number": {
            "type": [
              "string",
              "null"
            ]
          },
          "kind": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "individual",
              "company"
            ]
          },
          "birthday": {
            "type": [
              "string",
              "null"
            ]
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "addresses": {},
          "phones": {},
          "emails": {},
          "websites": {},
          "tags": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            }
          },
          "custom_metadata": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {}
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "BillingAccountV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "public_id": {
            "type": "string",
            "format": "uuid",
            "description": "Identificador público estável do recurso."
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Identificador externo da conta no sistema do cliente."
          },
          "currency": {
            "type": "string",
            "description": "Moeda ISO 4217 (ex.: `BRL`).",
            "example": "BRL"
          },
          "billing_email": {
            "type": [
              "string",
              "null"
            ],
            "format": "email",
            "description": "E-mail para o qual faturas e avisos são enviados."
          },
          "payment_terms_days": {
            "type": "integer",
            "description": "Prazo para vencimento de fatura em dias (padrão: 10).",
            "example": 10
          },
          "auto_collection": {
            "type": "boolean",
            "description": "Quando `true`, cobranças são realizadas automaticamente."
          },
          "balance_cents": {
            "type": "integer",
            "description": "Saldo da conta em centavos (÷100 → BRL).",
            "example": 0
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "suspended",
              "closed"
            ],
            "description": "Status da conta: `active`, `suspended` ou `closed`."
          },
          "suspended_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "suspension_reason": {
            "type": [
              "string",
              "null"
            ]
          },
          "tax_exempt": {
            "type": "boolean",
            "description": "Indica se a conta é isenta de impostos."
          },
          "tax_exemption_certificate": {
            "type": [
              "string",
              "null"
            ],
            "description": "Número do certificado de isenção tributária."
          },
          "customer_tax_type": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "individual",
              "business",
              "exempt"
            ],
            "description": "Tipo tributário do cliente: pessoa física, jurídica ou isento."
          },
          "metadata": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {},
            "description": "Metadados internos somente leitura, gerados pelo sistema."
          },
          "custom_metadata": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {},
            "description": "Metadados arbitrários definidos pelo cliente (chave/valor)."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "customer": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BillingAccountCustomerV1"
              },
              {
                "description": "Customer associado, presente quando a relação é carregada."
              }
            ]
          }
        },
        "required": [
          "id",
          "public_id",
          "external_id",
          "currency",
          "billing_email",
          "payment_terms_days",
          "auto_collection",
          "balance_cents",
          "status",
          "suspended_at",
          "suspension_reason",
          "tax_exempt",
          "tax_exemption_certificate",
          "customer_tax_type",
          "metadata",
          "custom_metadata",
          "created_at",
          "updated_at"
        ]
      },
      "BillingAccountListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BillingAccountV1"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data",
          "meta"
        ]
      },
      "BillingAccountResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/BillingAccountV1"
          }
        },
        "required": [
          "data"
        ]
      },
      "BillingAccountCustomerInput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "UUID ou external_code do customer existente."
          },
          "external_id": {
            "type": "string",
            "description": "External code para localizar/criar o customer."
          },
          "document_number": {
            "type": "string",
            "description": "CPF ou CNPJ para localizar/criar o customer."
          },
          "name": {
            "type": "string",
            "description": "Obrigatório ao criar um novo customer."
          },
          "nickname": {
            "type": "string"
          },
          "legal_name": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "individual",
              "company"
            ]
          },
          "birthday": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "addresses": {},
          "phones": {},
          "emails": {},
          "websites": {},
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "custom_metadata": {
            "type": "object",
            "additionalProperties": {}
          }
        }
      },
      "BillingAccountCreateRequest": {
        "type": "object",
        "properties": {
          "customer": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BillingAccountCustomerInput"
              },
              {
                "description": "Customer a associar — existente ou novo."
              }
            ]
          },
          "external_id": {
            "type": "string",
            "description": "Identificador externo da conta no sistema do cliente."
          },
          "billing_email": {
            "type": "string",
            "format": "email",
            "description": "E-mail de cobrança. Padrão: `customer.email`."
          },
          "payment_terms_days": {
            "type": "integer",
            "minimum": 1,
            "maximum": 90,
            "description": "Prazo para vencimento de fatura em dias (1–90). Padrão: 10."
          },
          "auto_collection": {
            "type": "boolean",
            "description": "Habilita cobrança automática. Padrão: `true`."
          },
          "custom_metadata": {
            "type": "object",
            "additionalProperties": {},
            "description": "Metadados arbitrários definidos pelo cliente (chave/valor)."
          }
        },
        "required": [
          "customer"
        ]
      },
      "BillingAccountUpdateRequest": {
        "type": "object",
        "properties": {
          "external_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Novo identificador externo da conta no sistema do cliente. Envie `null` para limpar."
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "address": {
            "type": "object",
            "additionalProperties": {}
          },
          "billing_email": {
            "type": "string",
            "format": "email"
          },
          "payment_terms_days": {
            "type": "integer",
            "minimum": 1,
            "maximum": 90
          },
          "auto_collection": {
            "type": "boolean"
          },
          "custom_metadata": {
            "type": "object",
            "additionalProperties": {},
            "description": "Metadados arbitrários definidos pelo cliente (chave/valor)."
          },
          "custom_metadata_mode": {
            "type": "string",
            "enum": [
              "replace",
              "merge"
            ],
            "description": "Como o `custom_metadata` enviado é reconciliado com o valor armazenado. `replace` (padrão) substitui todo o objeto; `merge` faz um deep merge sobre o valor atual — objetos aninhados são mesclados recursivamente, escalares e arrays substituem a chave, e chaves `null` são mantidas (não removem a chave). Aceito apenas na atualização.",
            "example": "merge"
          }
        }
      },
      "BillingAccountReasonRequest": {
        "type": "object",
        "properties": {
          "reason": {
            "type": "string",
            "description": "Motivo da operação (registrado no audit log)."
          }
        }
      },
      "CustomerV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "public_id": {
            "type": "string",
            "format": "uuid",
            "description": "Identificador público estável do recurso."
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Identificador externo do cliente (apelido `external_code` interno)."
          },
          "name": {
            "type": "string"
          },
          "nickname": {
            "type": [
              "string",
              "null"
            ]
          },
          "legal_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Razão social (para pessoa jurídica)."
          },
          "document_type": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "cpf",
              "cnpj"
            ],
            "description": "Tipo do documento principal. Inferido pelo comprimento de `document_number`."
          },
          "document_number": {
            "type": [
              "string",
              "null"
            ],
            "description": "CPF (11 dígitos) ou CNPJ (14 dígitos). Pode conter máscara."
          },
          "kind": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "natural",
              "juridical"
            ],
            "description": "`natural` para pessoa física; `juridical` para pessoa jurídica."
          },
          "birthday": {
            "type": [
              "string",
              "null"
            ],
            "description": "Data de nascimento (ISO 8601)."
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "addresses": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": "string",
                  "description": "Tipo do endereço (ex.: `billing`, `shipping`)."
                },
                "street": {
                  "type": "string"
                },
                "number": {
                  "type": "string"
                },
                "complement": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "neighborhood": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postal_code": {
                  "type": "string"
                },
                "country": {
                  "type": "string",
                  "description": "Código ISO do país (ex.: `BR`)."
                }
              }
            }
          },
          "phones": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              },
              "required": [
                "value"
              ]
            }
          },
          "emails": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              },
              "required": [
                "value"
              ]
            }
          },
          "websites": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              },
              "required": [
                "value"
              ]
            }
          },
          "tags": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            }
          },
          "metadata": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {},
            "description": "Metadados internos somente leitura, gerados pelo sistema."
          },
          "custom_metadata": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {},
            "description": "Metadados customizados definidos pela organização."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "billing_accounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BillingAccountV1"
            },
            "description": "Incluído apenas quando o cliente é carregado com contas de cobrança."
          }
        },
        "required": [
          "id",
          "public_id",
          "external_id",
          "name",
          "nickname",
          "legal_name",
          "document_type",
          "document_number",
          "kind",
          "birthday",
          "notes",
          "addresses",
          "phones",
          "emails",
          "websites",
          "tags",
          "metadata",
          "custom_metadata",
          "created_at",
          "updated_at"
        ]
      },
      "CustomerListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerV1"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data",
          "meta"
        ]
      },
      "CustomerResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/CustomerV1"
          }
        },
        "required": [
          "data"
        ]
      },
      "CustomerCreateResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "customer": {
                "$ref": "#/components/schemas/CustomerV1"
              },
              "billing_account": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BillingAccountV1"
                  },
                  {
                    "type": [
                      "object",
                      "null"
                    ]
                  }
                ]
              }
            },
            "required": [
              "customer",
              "billing_account"
            ]
          }
        },
        "required": [
          "data"
        ]
      },
      "CustomerCreateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Nome do cliente (obrigatório)."
          },
          "external_id": {
            "type": "string",
            "description": "Identificador externo do cliente no sistema de origem."
          },
          "nickname": {
            "type": "string"
          },
          "legal_name": {
            "type": "string",
            "description": "Razão social (para pessoa jurídica)."
          },
          "document_number": {
            "type": "string",
            "description": "CPF ou CNPJ. O `document_type` é inferido pelo comprimento (≤11 → cpf, senão cnpj)."
          },
          "kind": {
            "type": "string",
            "enum": [
              "natural",
              "juridical"
            ]
          },
          "birthday": {
            "type": "string",
            "description": "Data de nascimento (ISO 8601)."
          },
          "email": {
            "type": "string",
            "description": "E-mail principal de contato."
          },
          "phone": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": "string",
                  "description": "Tipo do endereço (ex.: `billing`, `shipping`)."
                },
                "street": {
                  "type": "string"
                },
                "number": {
                  "type": "string"
                },
                "complement": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "neighborhood": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postal_code": {
                  "type": "string"
                },
                "country": {
                  "type": "string",
                  "description": "Código ISO do país (ex.: `BR`)."
                }
              }
            }
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              },
              "required": [
                "value"
              ]
            }
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              },
              "required": [
                "value"
              ]
            }
          },
          "websites": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              },
              "required": [
                "value"
              ]
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "custom_metadata": {
            "type": "object",
            "additionalProperties": {}
          },
          "create_billing_account": {
            "type": "boolean",
            "description": "Quando `false`, não cria conta de cobrança automaticamente. Padrão: `true`."
          },
          "billing_email": {
            "type": "string",
            "description": "E-mail para envio de faturas. Padrão: usa `email` quando omitido."
          },
          "payment_terms_days": {
            "type": "integer",
            "minimum": 0,
            "description": "Prazo para vencimento de fatura em dias. Padrão: `10`."
          },
          "auto_collection": {
            "type": "boolean",
            "description": "Cobrança automática na conta criada. Padrão: `true`."
          }
        },
        "required": [
          "name"
        ]
      },
      "CustomerUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "external_id": {
            "type": "string"
          },
          "nickname": {
            "type": "string"
          },
          "legal_name": {
            "type": "string"
          },
          "document_number": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "natural",
              "juridical"
            ]
          },
          "birthday": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": "string",
                  "description": "Tipo do endereço (ex.: `billing`, `shipping`)."
                },
                "street": {
                  "type": "string"
                },
                "number": {
                  "type": "string"
                },
                "complement": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "neighborhood": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postal_code": {
                  "type": "string"
                },
                "country": {
                  "type": "string",
                  "description": "Código ISO do país (ex.: `BR`)."
                }
              }
            }
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              },
              "required": [
                "value"
              ]
            }
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              },
              "required": [
                "value"
              ]
            }
          },
          "websites": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              },
              "required": [
                "value"
              ]
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "custom_metadata": {
            "type": "object",
            "additionalProperties": {}
          },
          "custom_metadata_mode": {
            "type": "string",
            "enum": [
              "replace",
              "merge"
            ],
            "description": "Como o `custom_metadata` enviado é reconciliado com o valor armazenado. `replace` (padrão) substitui todo o objeto; `merge` faz um deep merge sobre o valor atual — objetos aninhados são mesclados recursivamente, escalares e arrays substituem a chave, e chaves `null` são mantidas (não removem a chave). Aceito apenas na atualização.",
            "example": "merge"
          }
        }
      },
      "CustomerStatementItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "billing_account_id": {
            "type": "string",
            "format": "uuid"
          },
          "kind": {
            "type": "string",
            "description": "Tipo do lançamento (ex.: `invoice`, `payment`, `credit_application`)."
          },
          "occurred_at": {
            "type": "string",
            "format": "date-time"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "amount_cents": {
            "type": "integer",
            "description": "Valor do lançamento em centavos (÷100 → BRL). Pode ser negativo."
          },
          "parent_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "parent_type": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "billing_account_id",
          "kind",
          "occurred_at",
          "description",
          "amount_cents",
          "parent_id",
          "parent_type",
          "created_at"
        ]
      },
      "CustomerStatementListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerStatementItem"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data",
          "meta"
        ]
      },
      "CustomerStatementSyncResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "customer_id": {
                "type": "string",
                "format": "uuid"
              },
              "billing_account_id": {
                "type": "string",
                "format": "uuid"
              },
              "invoices_created": {
                "type": "integer"
              },
              "payments_created": {
                "type": "integer"
              },
              "credit_applications_created": {
                "type": "integer"
              },
              "total_created": {
                "type": "integer"
              }
            },
            "required": [
              "customer_id",
              "billing_account_id",
              "invoices_created",
              "payments_created",
              "credit_applications_created",
              "total_created"
            ]
          }
        },
        "required": [
          "data"
        ]
      },
      "CustomerStatementSyncRequest": {
        "type": "object",
        "properties": {
          "billing_account_id": {
            "type": "string",
            "format": "uuid",
            "description": "Necessário quando o cliente possui múltiplas contas de cobrança."
          }
        }
      },
      "CustomerRecalculateMrrResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "customer_id": {
                "type": "string",
                "format": "uuid"
              },
              "total_mrr_cents": {
                "type": "integer",
                "description": "MRR consolidado de todas as contas, em centavos (÷100 → BRL)."
              },
              "billing_accounts": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "billing_account_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "mrr_amount_cents": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "billing_account_id",
                    "mrr_amount_cents"
                  ]
                }
              }
            },
            "required": [
              "customer_id",
              "total_mrr_cents",
              "billing_accounts"
            ]
          }
        },
        "required": [
          "data"
        ]
      },
      "CustomerPortalUserV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "public_id": {
            "type": "string",
            "format": "uuid",
            "description": "Identificador público estável do recurso."
          },
          "email": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "pending_verification",
              "pending_invitation",
              "suspended",
              "locked"
            ]
          },
          "sso_only": {
            "type": "boolean"
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "email_verified_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "last_login_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "metadata": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {},
            "description": "Metadados internos somente leitura, gerados pelo sistema."
          },
          "custom_metadata": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {}
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Nome do `Person` vinculado, quando carregado."
          }
        },
        "required": [
          "id",
          "public_id",
          "email",
          "status",
          "sso_only",
          "external_id",
          "email_verified_at",
          "last_login_at",
          "metadata",
          "custom_metadata",
          "created_at",
          "updated_at"
        ]
      },
      "CustomerPortalUserListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerPortalUserV1"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data",
          "meta"
        ]
      },
      "CustomerPortalUserResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/CustomerPortalUserV1"
          }
        },
        "required": [
          "data"
        ]
      },
      "CustomerPortalUserInviteRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "E-mail do convidado (obrigatório)."
          },
          "external_id": {
            "type": "string",
            "description": "Identificador no seu sistema externo, para idempotência/sincronização."
          },
          "custom_metadata": {
            "type": "object",
            "additionalProperties": {},
            "description": "Metadados arbitrários definidos pelo cliente (chave/valor)."
          }
        },
        "required": [
          "email"
        ]
      },
      "CustomerPortalUserUpdateRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "sso_only": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "suspended"
            ],
            "description": "Transições permitidas: `active` ↔ `suspended`."
          },
          "custom_metadata": {
            "type": "object",
            "additionalProperties": {},
            "description": "Metadados arbitrários definidos pelo cliente (chave/valor)."
          }
        }
      },
      "CustomerPortalUserEmailPreviewResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "invitation",
                  "verification"
                ]
              },
              "from": {
                "type": "string"
              },
              "to": {
                "type": "string"
              },
              "subject": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            },
            "required": [
              "type",
              "from",
              "to",
              "subject",
              "message"
            ]
          }
        },
        "required": [
          "data"
        ]
      },
      "CustomerPortalUserResendResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "resent": {
                "type": "boolean"
              },
              "type": {
                "type": "string",
                "enum": [
                  "invitation",
                  "verification"
                ]
              }
            },
            "required": [
              "resent",
              "type"
            ]
          }
        },
        "required": [
          "data"
        ]
      },
      "PlanItemV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "plan_id": {
            "type": "string",
            "format": "uuid"
          },
          "product_id": {
            "type": "string",
            "format": "uuid"
          },
          "price_id": {
            "type": "string",
            "format": "uuid"
          },
          "quantity": {
            "type": "integer",
            "description": "Quantidade do produto incluída no plano.",
            "example": 1
          },
          "included": {
            "type": "boolean",
            "description": "Quando `true`, o item está incluído no preço do plano. Quando `false`, é um add-on cobrado à parte."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "plan_id",
          "product_id",
          "price_id",
          "quantity",
          "included",
          "created_at"
        ]
      },
      "PlanV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "public_id": {
            "type": "string",
            "format": "uuid",
            "description": "Identificador público estável do recurso."
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Identificador no seu sistema externo, para idempotência/sincronização."
          },
          "organization_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "company_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "plan_group_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "billing_account_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Quando preenchido, o plano é específico para uma conta de cobrança (plano custom)."
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "description": "Identificador único por organização. Apenas `[a-z0-9-]`."
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "active",
              "archived"
            ],
            "description": "Estado do plano: `draft`, `active` ou `archived`."
          },
          "plan_type": {
            "type": "string",
            "enum": [
              "standard",
              "custom",
              "promotional"
            ],
            "description": "`standard`: plano público padrão. `custom`: plano específico de cliente. `promotional`: plano promocional temporário."
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ],
            "description": "`public`: visível no catálogo. `private`: oculto."
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Lista de features do plano (strings livres)."
          },
          "limits": {
            "type": "object",
            "properties": {
              "users": {
                "type": "integer"
              },
              "subaccounts": {
                "type": "integer"
              },
              "operationsPerMonth": {
                "type": "integer"
              },
              "apiRequestsPerDay": {
                "type": "integer"
              }
            },
            "description": "Limites do plano (usuários, subcontas, operações, etc.)."
          },
          "trial_period_days": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Dias de trial concedidos ao criar uma assinatura deste plano."
          },
          "default_billing_cycle": {
            "type": "string",
            "enum": [
              "monthly",
              "quarterly",
              "semiannual",
              "annual"
            ],
            "description": "Periodicidade de cobrança padrão."
          },
          "available_billing_cycles": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "monthly",
                "quarterly",
                "semiannual",
                "annual"
              ]
            },
            "description": "Periodicidades de cobrança permitidas para este plano."
          },
          "metadata": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {},
            "description": "Metadados internos somente leitura, gerados pelo sistema."
          },
          "custom_metadata": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {},
            "description": "Metadados customizados em formato livre (`object`)."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlanItemV1"
            },
            "description": "Itens do plano. Presente quando incluído via relations."
          }
        },
        "required": [
          "id",
          "public_id",
          "external_id",
          "organization_id",
          "company_id",
          "plan_group_id",
          "billing_account_id",
          "name",
          "slug",
          "description",
          "status",
          "plan_type",
          "visibility",
          "features",
          "limits",
          "trial_period_days",
          "default_billing_cycle",
          "available_billing_cycles",
          "metadata",
          "custom_metadata",
          "created_at",
          "updated_at"
        ]
      },
      "PlanListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlanV1"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data",
          "meta"
        ]
      },
      "PlanResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/PlanV1"
          }
        },
        "required": [
          "data"
        ]
      },
      "PlanItemListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlanItemV1"
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "PlanItemInput": {
        "type": "object",
        "properties": {
          "product_id": {
            "type": "string",
            "format": "uuid"
          },
          "price_id": {
            "type": "string",
            "format": "uuid"
          },
          "quantity": {
            "type": "integer",
            "minimum": 1,
            "default": 1
          },
          "included": {
            "type": "boolean",
            "default": true
          }
        },
        "required": [
          "product_id",
          "price_id"
        ]
      },
      "PlanCreateRequest": {
        "type": "object",
        "properties": {
          "external_id": {
            "type": "string",
            "description": "Identificador no seu sistema externo, para idempotência/sincronização."
          },
          "company_id": {
            "type": "string",
            "format": "uuid"
          },
          "plan_group_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "pattern": "^[a-z0-9-]+$",
            "description": "Apenas letras minúsculas, dígitos e hífens."
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "active",
              "archived"
            ]
          },
          "plan_type": {
            "type": "string",
            "enum": [
              "standard",
              "custom",
              "promotional"
            ],
            "description": "Padrão: `standard`."
          },
          "billing_account_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ],
            "description": "Padrão: `public`."
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "limits": {
            "type": "object",
            "properties": {
              "users": {
                "type": "integer"
              },
              "subaccounts": {
                "type": "integer"
              },
              "operationsPerMonth": {
                "type": "integer"
              },
              "apiRequestsPerDay": {
                "type": "integer"
              }
            }
          },
          "trial_period_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 90
          },
          "default_billing_cycle": {
            "type": "string",
            "enum": [
              "monthly",
              "quarterly",
              "semiannual",
              "annual"
            ]
          },
          "available_billing_cycles": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "monthly",
                "quarterly",
                "semiannual",
                "annual"
              ]
            }
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlanItemInput"
            }
          },
          "custom_metadata": {
            "type": "object",
            "additionalProperties": {},
            "description": "Metadados customizados em formato livre (`object`)."
          }
        },
        "required": [
          "name",
          "slug"
        ]
      },
      "PlanUpdateRequest": {
        "type": "object",
        "properties": {
          "external_id": {
            "type": "string",
            "description": "Identificador no seu sistema externo, para idempotência/sincronização."
          },
          "company_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "plan_group_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "pattern": "^[a-z0-9-]+$",
            "description": "Apenas letras minúsculas, dígitos e hífens."
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "active",
              "archived"
            ]
          },
          "plan_type": {
            "type": "string",
            "enum": [
              "standard",
              "custom",
              "promotional"
            ],
            "description": "Padrão: `standard`."
          },
          "billing_account_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ],
            "description": "Padrão: `public`."
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "limits": {
            "type": "object",
            "properties": {
              "users": {
                "type": "integer"
              },
              "subaccounts": {
                "type": "integer"
              },
              "operationsPerMonth": {
                "type": "integer"
              },
              "apiRequestsPerDay": {
                "type": "integer"
              }
            }
          },
          "trial_period_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 90
          },
          "default_billing_cycle": {
            "type": "string",
            "enum": [
              "monthly",
              "quarterly",
              "semiannual",
              "annual"
            ]
          },
          "available_billing_cycles": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "monthly",
                "quarterly",
                "semiannual",
                "annual"
              ]
            }
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlanItemInput"
            }
          },
          "custom_metadata": {
            "type": "object",
            "additionalProperties": {},
            "description": "Metadados customizados em formato livre (`object`)."
          }
        }
      },
      "PlanItemsReplaceRequest": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlanItemInput"
            }
          }
        },
        "required": [
          "items"
        ]
      },
      "PlanItemsReplaceResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/PlanItemV1"
        }
      },
      "PlanBulkIdsRequest": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "minItems": 1,
            "description": "Lista de UUIDs de planos. Mínimo 1."
          }
        },
        "required": [
          "ids"
        ]
      },
      "PlanBulkMoveGroupRequest": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "minItems": 1
          },
          "plan_group_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID do grupo destino. Use `null` para remover o agrupamento."
          }
        },
        "required": [
          "ids",
          "plan_group_id"
        ]
      },
      "PlanBulkArchiveResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "archived_count": {
                "type": "integer"
              },
              "skipped_count": {
                "type": "integer"
              },
              "skipped_ids": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "required": [
              "archived_count",
              "skipped_count",
              "skipped_ids"
            ]
          }
        },
        "required": [
          "data"
        ]
      },
      "PlanBulkDeleteResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "deleted_count": {
                "type": "integer"
              },
              "skipped_count": {
                "type": "integer"
              },
              "skipped_ids": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "required": [
              "deleted_count",
              "skipped_count",
              "skipped_ids"
            ]
          }
        },
        "required": [
          "data"
        ]
      },
      "PlanBulkMoveGroupResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "moved_count": {
                "type": "integer"
              }
            },
            "required": [
              "moved_count"
            ]
          }
        },
        "required": [
          "data"
        ]
      },
      "PlanGroupV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "public_id": {
            "type": "string",
            "format": "uuid",
            "description": "Identificador público estável do recurso."
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Identificador no seu sistema externo, para idempotência/sincronização."
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "company_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "description": "Nome do grupo de planos."
          },
          "slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Identificador legível usado em URLs públicas."
          },
          "display_order": {
            "type": "integer",
            "description": "Posição de exibição (menor valor aparece primeiro)."
          },
          "archived_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Data de arquivamento. `null` quando ativo."
          },
          "metadata": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {},
            "description": "Metadados internos somente leitura, gerados pelo sistema."
          },
          "custom_metadata": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {},
            "description": "Metadados arbitrários definidos pelo cliente (chave/valor)."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "public_id",
          "external_id",
          "organization_id",
          "company_id",
          "name",
          "slug",
          "display_order",
          "archived_at",
          "metadata",
          "custom_metadata",
          "created_at",
          "updated_at"
        ]
      },
      "PlanGroupListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlanGroupV1"
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "PlanGroupResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/PlanGroupV1"
          }
        },
        "required": [
          "data"
        ]
      },
      "PlanGroupCreateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Nome do grupo de planos."
          },
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Identificador legível (opcional). Gerado automaticamente se omitido."
          },
          "external_id": {
            "type": "string",
            "description": "Identificador no seu sistema externo, para idempotência/sincronização."
          },
          "custom_metadata": {
            "type": "object",
            "additionalProperties": {},
            "description": "Metadados arbitrários definidos pelo cliente (chave/valor)."
          }
        },
        "required": [
          "name"
        ]
      },
      "PlanGroupUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "external_id": {
            "type": "string",
            "description": "Novo identificador no seu sistema externo."
          },
          "custom_metadata": {
            "type": "object",
            "additionalProperties": {},
            "description": "Metadados arbitrários definidos pelo cliente (chave/valor)."
          }
        }
      },
      "PlanGroupReorderRequest": {
        "type": "object",
        "properties": {
          "group_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "minItems": 1,
            "description": "Lista de UUIDs dos grupos na nova ordem de exibição. Todos devem pertencer à organização atual."
          }
        },
        "required": [
          "group_ids"
        ]
      },
      "PlanGroupReorderResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "success": {
                "type": "boolean",
                "example": true
              }
            },
            "required": [
              "success"
            ]
          }
        },
        "required": [
          "data"
        ]
      },
      "ProductV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "public_id": {
            "type": "string",
            "format": "uuid",
            "description": "Identificador público estável do recurso."
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Identificador no seu sistema externo, para idempotência/sincronização."
          },
          "organization_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "company_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "parent_product_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "product_group_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "service_item_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "description": "Nome de exibição do produto."
          },
          "slug": {
            "type": "string",
            "description": "Identificador legível único dentro do grupo de produto. Aceita apenas `[a-z0-9_-]+`."
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "active",
              "archived"
            ],
            "description": "Estado do produto: `draft`, `active` ou `archived`."
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ],
            "description": "Visibilidade no portal do cliente. `public`: visível para clientes; `private`: apenas operadores."
          },
          "product_type": {
            "type": "string",
            "enum": [
              "base",
              "addon_quantity",
              "addon_fixed",
              "metered",
              "one_time_fixed",
              "one_time_quantity"
            ],
            "description": "Tipo do produto. `base`: plano principal; `addon_quantity`/`addon_fixed`: complementos; `metered`: cobrança por uso; `one_time_fixed`/`one_time_quantity`: cobrança única."
          },
          "unit_label": {
            "type": [
              "string",
              "null"
            ],
            "description": "Rótulo da unidade (ex.: \"usuário\", \"GB\"). Usado em faturas e portal."
          },
          "increment": {
            "type": "integer",
            "description": "Incremento mínimo de quantidade ao alterar o item."
          },
          "website_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "display_order": {
            "type": "integer",
            "description": "Ordem de exibição (menor primeiro)."
          },
          "is_required": {
            "type": "boolean",
            "description": "Quando `true`, o produto é obrigatório no plano onde é incluído."
          },
          "metadata": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {},
            "description": "Metadados internos somente leitura, gerados pelo sistema."
          },
          "custom_metadata": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {}
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "public_id",
          "external_id",
          "organization_id",
          "company_id",
          "parent_product_id",
          "product_group_id",
          "service_item_id",
          "name",
          "slug",
          "description",
          "status",
          "visibility",
          "product_type",
          "unit_label",
          "increment",
          "website_url",
          "display_order",
          "is_required",
          "metadata",
          "custom_metadata",
          "created_at",
          "updated_at"
        ]
      },
      "ProductListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductV1"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data",
          "meta"
        ]
      },
      "ProductResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ProductV1"
          }
        },
        "required": [
          "data"
        ]
      },
      "ProductCreateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Nome do produto."
          },
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "pattern": "^[a-z0-9_-]+$",
            "description": "Slug único dentro do grupo. Aceita apenas `[a-z0-9_-]+`."
          },
          "description": {
            "type": "string"
          },
          "productType": {
            "type": "string",
            "enum": [
              "base",
              "addon_quantity",
              "addon_fixed",
              "metered",
              "one_time_fixed",
              "one_time_quantity"
            ],
            "description": "Tipo do produto. Padrão: `base`."
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ],
            "description": "Visibilidade no portal. Padrão: `public`."
          },
          "unitLabel": {
            "type": "string"
          },
          "increment": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "description": "Incremento mínimo. Padrão: `1`."
          },
          "websiteUrl": {
            "type": "string",
            "format": "uri"
          },
          "isRequired": {
            "type": "boolean"
          },
          "parentProductId": {
            "type": "string",
            "format": "uuid"
          },
          "productGroupId": {
            "type": "string",
            "format": "uuid"
          },
          "companyId": {
            "type": "string",
            "format": "uuid"
          },
          "externalId": {
            "type": "string",
            "description": "Identificador no seu sistema externo, para idempotência/sincronização."
          },
          "customMetadata": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "required": [
          "name",
          "slug"
        ]
      },
      "ProductUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "pattern": "^[a-z0-9_-]+$"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "active",
              "archived"
            ]
          },
          "productType": {
            "type": "string",
            "enum": [
              "base",
              "addon_quantity",
              "addon_fixed",
              "metered",
              "one_time_fixed",
              "one_time_quantity"
            ]
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ]
          },
          "unitLabel": {
            "type": "string"
          },
          "increment": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "websiteUrl": {
            "type": "string",
            "format": "uri"
          },
          "isRequired": {
            "type": "boolean"
          },
          "parentProductId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "productGroupId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "companyId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "externalId": {
            "type": "string",
            "description": "Novo identificador no seu sistema externo."
          },
          "customMetadata": {
            "type": "object",
            "additionalProperties": {}
          }
        }
      },
      "ProductReorderRequest": {
        "type": "object",
        "properties": {
          "product_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "minItems": 1,
            "description": "IDs de produtos na nova ordem desejada. Índice 0 vira o primeiro da lista."
          }
        },
        "required": [
          "product_ids"
        ]
      },
      "ProductBulkArchiveRequest": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "minItems": 1,
            "description": "IDs de produtos a arquivar."
          }
        },
        "required": [
          "ids"
        ]
      },
      "ProductBulkDeleteRequest": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "minItems": 1,
            "description": "IDs de produtos a excluir permanentemente."
          }
        },
        "required": [
          "ids"
        ]
      },
      "ProductBulkVisibilityRequest": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "minItems": 1
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ],
            "description": "Nova visibilidade a aplicar em todos os produtos."
          }
        },
        "required": [
          "ids",
          "visibility"
        ]
      },
      "ProductBulkMoveGroupRequest": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "minItems": 1
          },
          "product_group_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Grupo de destino. Use `null` para remover do grupo atual."
          }
        },
        "required": [
          "ids",
          "product_group_id"
        ]
      },
      "ProductBulkChangeCompanyRequest": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "minItems": 1
          },
          "company_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Empresa de destino. Use `null` para limpar o vínculo."
[...]
