{
  "openapi": "3.1.0",
  "info": {
    "title": "API do Financeiro Inteligente",
    "version": "1.0.0",
    "description": "Você que é dev, divirta-se! ✨\n\n> **Índice da documentação** — acesse o índice completo em [https://docs.finance.kobana.com.br/llms.txt](https://docs.finance.kobana.com.br/llms.txt). Use este arquivo para descobrir todas as páginas disponíveis antes de explorar.\n\n## Autenticação\n\nA API usa **Bearer JWT (HS512)**. Envie o token no cabeçalho de toda requisição:\n\n```\nAuthorization: Bearer <token>\n```\n\nPara testes em linha de comando, exporte o token: `export KOBANA_TOKEN=xxxxxxxx` e cole os comandos da documentação no terminal.\n\n## Formato\n\nA API aceita apenas o formato `JSON`. Todas as requisições devem usar `Content-Type: application/json`. Todas as respostas usam `snake_case`.\n\n| Tipo de Campo | Formato |\n| :--- | :--- |\n| **DateTime** | Formato [ISO8601](https://pt.wikipedia.org/wiki/ISO_8601). Exemplos — Data: `2026-01-24`. Data e Hora: `2026-01-24T10:07:00.000Z` |\n| **Money** | Decimal como string com 2 casas (`\"150.00\"`). Sempre positivo — direção indicada pelo campo `type` (`debit`/`credit`) ou pelo contexto (payable/receivable). |\n| **UUID** | Identificadores de recursos no formato UUID v4 |\n\n## Convenções\n\nConvenções usadas nesta documentação:\n\n| Convenção | Descrição |\n| :--- | :--- |\n| **`:id`** | Parâmetro de path que deve ser substituído pelo UUID do recurso. |\n| **`#{variable}`** | Valor da sua conta que deve ser substituído no exemplo. |\n| **`...`** | Conteúdo da resposta truncado para facilitar a leitura. |\n| **`$KOBANA_TOKEN`** | Token JWT de acesso. Exporte com `export KOBANA_TOKEN=xxxxxxxx`. |\n\n## Ambientes\n\n| Ambiente | Base URL |\n| :--- | :--- |\n| **Produção** | `https://api.finance.kobana.com.br/v1` |\n| **Sandbox** | `https://api.finance.sandbox.kobana.com.br/v1` |\n\n## Códigos de Retorno\n\nA API retorna códigos HTTP padrão:\n\n| | Código | Descrição |\n| :--- | :--- | :--- |\n| ✅ | **200 OK** | Requisição bem-sucedida com corpo de resposta. |\n| ✅ | **201 Created** | Recurso criado com sucesso. |\n| ✅ | **204 No Content** | Requisição bem-sucedida, sem corpo de resposta. |\n| ❌ | **400 Bad Request** | Requisição inválida, em geral conteúdo mal formado. |\n| ❌ | **401 Unauthorized** | Token ausente, inválido ou expirado. |\n| ❌ | **403 Forbidden** | Escopo insuficiente para a operação. |\n| ❌ | **404 Not Found** | Recurso não encontrado ou fora do workspace. |\n| ❌ | **422 Unprocessable Entity** | Requisição válida, mas os dados enviados não são. |\n| ❌ | **429 Too Many Requests** | Limite de requisições atingido. |\n| ❌ | **500 Internal Server Error** | Erro interno no processamento. Consulte o [status dos servidores](https://status.kobana.com.br). |\n\n## Listagem e Paginação\n\nTodos os endpoints de listagem usam **paginação por cursor**:\n\n```\nGET /v1/payables?cursor=<opaque_cursor>&limit=25\n```\n\nA resposta inclui `meta.next_cursor` — passe-o como `?cursor=` na próxima requisição para buscar a página seguinte. Quando `meta.next_cursor` é `null`, não há mais páginas.\n\n## Idempotência\n\nOperações de criação (`POST`) aceitam o cabeçalho `X-Idempotency-Key`. Reenvios com a mesma chave retornam o resultado original sem criar duplicatas — seguro para retry em caso de falha de rede.\n\n```\nX-Idempotency-Key: <uuid-v4-gerado-pelo-cliente>\n```\n\n## ID das Requisições (Request ID)\n\nCada requisição possui um identificador associado, disponível no cabeçalho `Request-Id` da resposta. Esse valor ajuda na depuração e auditoria. O log de requisições fica disponível por **30 dias**. Ao abrir um chamado de suporte sobre uma requisição específica, informe o `Request-Id` para acelerar a investigação.\n\n## Segurança\n\nA API usa certificados **SSL 2048 bits**. Toda requisição deve ser feita via **HTTPS** — chamadas na porta 80 são redirecionadas para 443.\n\nOs clientes devem suportar `TLSv1.2` ou `TLSv1.3` com uma das cifras: `TLS_AES_128_GCM_SHA256`, `TLS_AES_256_GCM_SHA384`, `TLS_CHACHA20_POLY1305_SHA256`, `ECDHE-RSA-AES128-GCM-SHA256`, `ECDHE-RSA-AES128-SHA256`, `ECDHE-RSA-AES256-GCM-SHA384`, `ECDHE-RSA-CHACHA20-POLY1305`, `ECDHE-RSA-AES256-SHA384`. `TLSv1` e `TLSv1.1` não são suportados.\n\n## Cache HTTP\n\nUse os cabeçalhos HTTP de cache para reduzir carga e ganhar velocidade. A maioria das respostas inclui `ETag` e/ou `Last-Modified` — armazene esses valores e reenvie nas próximas requisições via `If-None-Match` e `If-Modified-Since`. Se o recurso não mudou, a resposta será `304 Not Modified`, sem corpo e sem reprocessamento.\n\n## Tratamento de Erros\n\nErros 5xx indicam falhas no servidor: **500 Internal Server Error** (aplicação indisponível), **502 Bad Gateway**, **503 Service Unavailable** e **504 Gateway Timeout** (falhas pontuais de infraestrutura). Sua aplicação deve identificar esses códigos e reagendar a requisição após alguns minutos com backoff exponencial. Status dos servidores: [https://status.kobana.com.br](https://status.kobana.com.br).\n\n## Spec OpenAPI\n\nImporte a spec no Postman ou Insomnia para ter uma coleção pronta que sempre reflete a API atual:\n\n- **YAML:** `/api/v1/openapi.yaml`\n- **JSON:** `/api/v1/openapi.json`",
    "license": {
      "name": "Proprietary — Kobana",
      "url": "https://kobana.com.br"
    }
  },
  "servers": [
    {
      "url": "https://api.finance.kobana.com.br",
      "description": "Production"
    },
    {
      "url": "https://api.finance.sandbox.kobana.com.br",
      "description": "Sandbox"
    }
  ],
  "components": {
    "schemas": {
      "ApiV1Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Stable error code from the Kobana vocabulary. Do not parse the message — switch on this.",
                "example": "invalid_token"
              },
              "message": {
                "type": "string",
                "description": "Human-readable, English. Never includes user-supplied data verbatim.",
                "example": "Missing Authorization header."
              },
              "details": {
                "description": "Optional, error-specific payload (e.g. `{ required, granted }` on `insufficient_scope`)."
              }
            },
            "required": [
              "code",
              "message"
            ],
            "description": "Error envelope. Always present on 4xx and 5xx responses."
          }
        },
        "required": [
          "error"
        ]
      },
      "TransactionClassificationCenterAllocationV1": {
        "type": "object",
        "properties": {
          "classification_center_id": {
            "type": "string",
            "format": "uuid"
          },
          "classification_center_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "percentage": {
            "type": [
              "string",
              "null"
            ],
            "description": "Percentage of the transaction amount, as a decimal string. `null` when the split is amount-driven."
          },
          "amount": {
            "type": [
              "string",
              "null"
            ],
            "description": "Absolute slice as a 2-decimal string. `null` when the split is percentage-driven."
          }
        },
        "required": [
          "classification_center_id",
          "classification_center_name",
          "percentage",
          "amount"
        ]
      },
      "FinancialTransactionV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "8c8b4c4f-2e0e-4f6e-9b8a-2a1c2b3d4e5f"
          },
          "company_id": {
            "type": "string",
            "format": "uuid"
          },
          "financial_account_id": {
            "type": "string",
            "format": "uuid"
          },
          "description": {
            "type": "string",
            "description": "Short label written by the user — distinct from `bank_description`.",
            "example": "Pagamento de fornecedor"
          },
          "bank_description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Raw description from the bank statement, when imported."
          },
          "document": {
            "type": [
              "string",
              "null"
            ],
            "description": "Document number (NF, boleto, comprovante) that originated this movement."
          },
          "document_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Issue date of the source document (NF, boleto). Distinct from `occurred_at` (settlement) and `competence_date` (accounting period).",
            "example": "2026-05-20 00:00:00 UTC"
          },
          "amount": {
            "type": "string",
            "description": "Decimal as a string with 2 fractional digits. Always positive — direction is carried by `type`.",
            "example": "150.00"
          },
          "occurred_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the movement hit the account.",
            "example": "2026-05-24 00:00:00 UTC"
          },
          "competence_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Accounting period this movement belongs to. Falls back to `occurred_at` when null."
          },
          "type": {
            "type": "string",
            "enum": [
              "debit",
              "credit"
            ],
            "description": "`debit` = money out, `credit` = money in."
          },
          "category_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "person_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "classification_center_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Primary classification center (rows[0] of the rateio). Full split in `classification_center_allocations[]`."
          },
          "classification_center_allocations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransactionClassificationCenterAllocationV1"
            },
            "description": "The rateio (split) across classification centers. Empty when there is no split."
          },
          "payment_method_kind": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "bank_billet",
              "ted",
              "pix",
              "credit_card",
              "debit_card",
              "cash",
              "check",
              "direct_debit",
              "other",
              "none",
              null
            ]
          },
          "classified": {
            "type": "boolean"
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last write. Filterable and sortable — it is the incremental-sync window. Rows predating the column carry their `created_at`, since the real last-write date was never recorded."
          }
        },
        "required": [
          "id",
          "company_id",
          "financial_account_id",
          "description",
          "bank_description",
          "document",
          "document_date",
          "amount",
          "occurred_at",
          "competence_date",
          "type",
          "category_id",
          "person_id",
          "classification_center_id",
          "classification_center_allocations",
          "payment_method_kind",
          "classified",
          "notes",
          "created_at",
          "updated_at"
        ]
      },
      "FinancialTransactionListMeta": {
        "type": "object",
        "properties": {
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Opaque cursor. Pass back as `?cursor=…` to fetch the next page. `null` when there is no next page."
          }
        },
        "required": [
          "next_cursor"
        ]
      },
      "FinancialTransactionListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FinancialTransactionV1"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/FinancialTransactionListMeta"
          }
        },
        "required": [
          "data",
          "meta"
        ]
      },
      "TransactionClassificationCenterSplitInput": {
        "type": "object",
        "properties": {
          "classification_center_id": {
            "type": "string",
            "format": "uuid"
          },
          "percentage": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "maximum": 100
          },
          "amount": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^\\d{1,13}\\.\\d{1,2}$"
              },
              {
                "type": "number",
                "minimum": 0
              },
              {
                "type": "null"
              }
            ],
            "description": "Allocated amount in BRL, as a 2-decimal string (`\"150.00\"`). Provide `percentage` and/or `amount`. A JSON number is still accepted for backward compatibility; the string is canonical and is what the reads return."
          }
        },
        "required": [
          "classification_center_id"
        ]
      },
      "FinancialTransactionCreateRequest": {
        "type": "object",
        "properties": {
          "company_id": {
            "type": "string",
            "format": "uuid",
            "description": "Owning company UUID. Must belong to the tenant and match the account's `company_id` (or the account must be workspace-level)."
          },
          "financial_account_id": {
            "type": "string",
            "format": "uuid",
            "description": "Settlement account UUID. Must belong to the tenant."
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          },
          "bank_description": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 500
          },
          "document": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "document_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Issue date of the source document (ISO 8601). Pass `null` (PATCH) to clear."
          },
          "amount": {
            "type": "string",
            "pattern": "^\\d{1,13}\\.\\d{1,2}$",
            "description": "Decimal string with 1–2 fractional digits (up to 13 integer digits). Always positive — direction is carried by `type`.",
            "example": "1500.00"
          },
          "occurred_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the movement hit the account (ISO 8601)."
          },
          "competence_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Accounting period this movement belongs to. Defaults to `occurred_at` when omitted."
          },
          "type": {
            "type": "string",
            "enum": [
              "debit",
              "credit"
            ],
            "description": "`debit` = money out, `credit` = money in. Drives the polarity for find-or-create on `*_name` fallbacks."
          },
          "category_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "category_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Alternative to `category_id`. Find-or-create scoped to (workspace, company) with polarity derived from `type`. Sending both `category_id` and `category_name` returns 400."
          },
          "person_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "person_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Alternative to `person_id`. Find-or-create with `customer` polarity for credits / `supplier` for debits. Mutually exclusive with `person_id`."
          },
          "classification_center_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "classification_center_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Alternative to `classification_center_id`. Find-or-create with `revenue` polarity for credits / `cost` for debits — a center typed `both` matches either; creates with the narrow polarity when no match. Mutually exclusive with `classification_center_id`."
          },
          "classification_centers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransactionClassificationCenterSplitInput"
            },
            "description": "Rateio (split) across classification centers. Replace-all: the array becomes the row's set; an empty array clears it; omit to leave it alone. Effective amounts must sum to `amount` (1-cent tolerance). Each center's polarity must match the transaction `type` (`both` matches either). When present, `classification_center_id` / `_name` are ignored and the legacy FK mirrors rows[0]."
          },
          "payment_method_kind": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "bank_billet",
              "ted",
              "pix",
              "credit_card",
              "debit_card",
              "cash",
              "check",
              "direct_debit",
              "other",
              "none",
              null
            ]
          },
          "classified": {
            "type": "boolean",
            "description": "Defaults to `false`. Setting `true` marks the row as already-categorised in the UI."
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "is_pending": {
            "type": "boolean",
            "description": "Defaults to `false`. When `true`, the row is treated as a forecast — excluded from realised-balance and dashboard income/expense aggregates."
          }
        },
        "required": [
          "company_id",
          "financial_account_id",
          "description",
          "amount",
          "occurred_at",
          "type"
        ]
      },
      "FinancialTransactionUpdateRequest": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          },
          "bank_description": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 500
          },
          "document": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "document_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Issue date of the source document (ISO 8601). Pass `null` (PATCH) to clear."
          },
          "amount": {
            "type": "string",
            "pattern": "^\\d{1,13}\\.\\d{1,2}$",
            "description": "Decimal string with 1–2 fractional digits (up to 13 integer digits). Always positive — direction is carried by `type`.",
            "example": "1500.00"
          },
          "occurred_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the movement hit the account (ISO 8601)."
          },
          "competence_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Accounting period this movement belongs to. Defaults to `occurred_at` when omitted."
          },
          "type": {
            "type": "string",
            "enum": [
              "debit",
              "credit"
            ],
            "description": "`debit` = money out, `credit` = money in. Drives the polarity for find-or-create on `*_name` fallbacks."
          },
          "category_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "category_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Alternative to `category_id`. Find-or-create scoped to (workspace, company) with polarity derived from `type`. Sending both `category_id` and `category_name` returns 400."
          },
          "person_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "person_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Alternative to `person_id`. Find-or-create with `customer` polarity for credits / `supplier` for debits. Mutually exclusive with `person_id`."
          },
          "classification_center_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "classification_center_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Alternative to `classification_center_id`. Find-or-create with `revenue` polarity for credits / `cost` for debits — a center typed `both` matches either; creates with the narrow polarity when no match. Mutually exclusive with `classification_center_id`."
          },
          "classification_centers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransactionClassificationCenterSplitInput"
            },
            "description": "Rateio (split) across classification centers. Replace-all: the array becomes the row's set; an empty array clears it; omit to leave it alone. Effective amounts must sum to `amount` (1-cent tolerance). Each center's polarity must match the transaction `type` (`both` matches either). When present, `classification_center_id` / `_name` are ignored and the legacy FK mirrors rows[0]."
          },
          "payment_method_kind": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "bank_billet",
              "ted",
              "pix",
              "credit_card",
              "debit_card",
              "cash",
              "check",
              "direct_debit",
              "other",
              "none",
              null
            ]
          },
          "classified": {
            "type": "boolean",
            "description": "Defaults to `false`. Setting `true` marks the row as already-categorised in the UI."
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "is_pending": {
            "type": "boolean",
            "description": "Defaults to `false`. When `true`, the row is treated as a forecast — excluded from realised-balance and dashboard income/expense aggregates."
          }
        }
      },
      "TaxV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "b3d9a5f8-2c1e-4a90-9f23-7e6b1c4d8a02"
          },
          "name": {
            "type": "string",
            "description": "Tax kind label (e.g. IRRF, INSS, ISS). Unique per workspace.",
            "example": "IRRF"
          },
          "default_rate": {
            "type": [
              "string",
              "null"
            ],
            "description": "Suggested default rate as a decimal string with up to 2 fractional digits, expressed as percent (e.g. `\"1.50\"` = 1.5%). Form-side convenience — the charge stores its own BRL amount, not derived from this rate.",
            "example": "1.50"
          },
          "default_withholding": {
            "type": "boolean",
            "description": "When true, new tax charges default to `withholding=true` (imposto retido). Most withheld BR taxes (IRRF, INSS) lean true."
          },
          "active": {
            "type": "boolean",
            "description": "When false, the tax is hidden from new charges (soft-deactivation). Existing charges referencing it are preserved."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "default_rate",
          "default_withholding",
          "active",
          "created_at"
        ]
      },
      "TaxListMeta": {
        "type": "object",
        "properties": {
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Opaque cursor. Pass back as `?cursor=…` to fetch the next page. `null` when there is no next page."
          }
        },
        "required": [
          "next_cursor"
        ]
      },
      "TaxListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaxV1"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/TaxListMeta"
          }
        },
        "required": [
          "data",
          "meta"
        ]
      },
      "TaxCreateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Tax label. Unique per workspace.",
            "example": "IRRF"
          },
          "default_rate": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^\\d{1,3}(\\.\\d{1,2})?$",
            "description": "Suggested default rate as a percent string (0–100, up to 2 decimals). `null`/omitted = no default.",
            "example": "1.50"
          },
          "default_withholding": {
            "type": "boolean",
            "description": "Defaults to `true` (imposto retido)."
          },
          "active": {
            "type": "boolean",
            "description": "Defaults to `true`."
          }
        },
        "required": [
          "name"
        ]
      },
      "TaxUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Tax label. Unique per workspace.",
            "example": "IRRF"
          },
          "default_rate": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^\\d{1,3}(\\.\\d{1,2})?$",
            "description": "Suggested default rate as a percent string (0–100, up to 2 decimals). `null`/omitted = no default.",
            "example": "1.50"
          },
          "default_withholding": {
            "type": "boolean",
            "description": "Defaults to `true` (imposto retido)."
          },
          "active": {
            "type": "boolean",
            "description": "Defaults to `true`."
          }
        }
      },
      "CompanyAddressV1": {
        "type": "object",
        "properties": {
          "street": {
            "type": [
              "string",
              "null"
            ],
            "example": "Rua das Notas"
          },
          "number": {
            "type": [
              "string",
              "null"
            ],
            "example": "100"
          },
          "complement": {
            "type": [
              "string",
              "null"
            ],
            "example": "Sala 4"
          },
          "neighborhood": {
            "type": [
              "string",
              "null"
            ],
            "example": "Centro"
          },
          "city": {
            "type": [
              "string",
              "null"
            ],
            "example": "Londrina"
          },
          "city_ibge_code": {
            "type": [
              "string",
              "null"
            ],
            "description": "IBGE municipality code. Required by the fiscal registries, which never key by name.",
            "example": "4113700"
          },
          "state": {
            "type": [
              "string",
              "null"
            ],
            "description": "Two-letter state (ISO 3166-2).",
            "example": "PR"
          },
          "zip_code": {
            "type": [
              "string",
              "null"
            ],
            "description": "Digits only.",
            "example": "86010000"
          }
        },
        "required": [
          "street",
          "number",
          "complement",
          "neighborhood",
          "city",
          "city_ibge_code",
          "state",
          "zip_code"
        ]
      },
      "CompanyV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "62057dab-0f98-4020-ae1e-2c0803251b1e"
          },
          "name": {
            "type": "string",
            "description": "Legal name as registered.",
            "example": "ACME Comércio Ltda"
          },
          "cnpj": {
            "type": "string",
            "description": "14-character CNPJ string (no formatting / no dots / no dashes). The first 12 characters are alphanumeric (A-Z uppercase + 0-9); the last 2 are numeric check digits. Numeric-only CNPJs (legacy format) and alphanumeric CNPJs (new RFB format) are both valid.",
            "example": "12345678000190"
          },
          "type": {
            "type": "string",
            "enum": [
              "matriz",
              "filial"
            ],
            "description": "`matriz` is the head office; `filial` is a branch. Unique per workspace, scoped by `cnpj`."
          },
          "active": {
            "type": "boolean",
            "description": "When false, the company is soft-deactivated. Existing transactions/people/etc. referencing it are preserved."
          },
          "trade_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Nome fantasia. `null` when not informed.",
            "example": "ACME"
          },
          "municipal_registration": {
            "type": [
              "string",
              "null"
            ],
            "description": "Inscrição Municipal — prerequisite for issuing NFS-e in the municipality.",
            "example": "123456"
          },
          "tax_regime": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "SimplesNacional",
              "SimplesNacionalExcessoSublimite",
              "MicroempreendedorIndividual",
              "LucroPresumido",
              "LucroReal",
              "Isento",
              null
            ],
            "description": "Tax regime, spelled as the Brazilian fiscal wire spells it. `null` when not informed.",
            "example": "LucroPresumido"
          },
          "address": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CompanyAddressV1"
              },
              {
                "type": [
                  "object",
                  "null"
                ],
                "description": "Fiscal address. `null` when none is on file."
              }
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "cnpj",
          "type",
          "active",
          "trade_name",
          "municipal_registration",
          "tax_regime",
          "address",
          "created_at"
        ]
      },
      "CompanyListMeta": {
        "type": "object",
        "properties": {
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Opaque cursor. Pass back as `?cursor=…` to fetch the next page. `null` when there is no next page."
          }
        },
        "required": [
          "next_cursor"
        ]
      },
      "CompanyListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompanyV1"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/CompanyListMeta"
          }
        },
        "required": [
          "data",
          "meta"
        ]
      },
      "CompanyCreateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Legal name as registered.",
            "example": "ACME Comércio Ltda"
          },
          "cnpj": {
            "type": "string",
            "minLength": 1,
            "description": "CNPJ — 14 characters. Formatting (dots / slash / dash) is accepted and stripped; letters are uppercased. Supports both numeric-only (legacy) and alphanumeric (new RFB format) CNPJs. Validated with the standard BR check-digit algorithm. **Required** — a missing, invalid, or document-less value returns 422. Must be unique among active companies in the workspace (duplicate → 409). `type` (matriz/filial) is derived server-side.",
            "example": "12345678000190"
          },
          "trade_name": {
            "type": "string",
            "maxLength": 255
          },
          "municipal_registration": {
            "type": "string",
            "maxLength": 30
          },
          "tax_regime": {
            "type": "string",
            "enum": [
              "SimplesNacional",
              "SimplesNacionalExcessoSublimite",
              "MicroempreendedorIndividual",
              "LucroPresumido",
              "LucroReal",
              "Isento"
            ]
          },
          "address": {
            "type": "object",
            "properties": {
              "street": {
                "type": "string",
                "maxLength": 255
              },
              "number": {
                "type": "string",
                "maxLength": 30
              },
              "complement": {
                "type": "string",
                "maxLength": 255
              },
              "neighborhood": {
                "type": "string",
                "maxLength": 255
              },
              "city": {
                "type": "string",
                "maxLength": 255
              },
              "city_ibge_code": {
                "type": "string",
                "maxLength": 10
              },
              "state": {
                "type": "string",
                "minLength": 2,
                "maxLength": 2
              },
              "zip_code": {
                "type": "string",
                "maxLength": 10
              }
            }
          }
        },
        "required": [
          "name",
          "cnpj"
        ]
      },
      "CompanyUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "active": {
            "type": "boolean",
            "description": "Set `false` to soft-deactivate the company (existing references are preserved)."
          },
          "trade_name": {
            "type": "string",
            "maxLength": 255
          },
          "municipal_registration": {
            "type": "string",
            "maxLength": 30
          },
          "tax_regime": {
            "type": "string",
            "enum": [
              "SimplesNacional",
              "SimplesNacionalExcessoSublimite",
              "MicroempreendedorIndividual",
              "LucroPresumido",
              "LucroReal",
              "Isento"
            ]
          },
          "address": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "street": {
                "type": "string",
                "maxLength": 255
              },
              "number": {
                "type": "string",
                "maxLength": 30
              },
              "complement": {
                "type": "string",
                "maxLength": 255
              },
              "neighborhood": {
                "type": "string",
                "maxLength": 255
              },
              "city": {
                "type": "string",
                "maxLength": 255
              },
              "city_ibge_code": {
                "type": "string",
                "maxLength": 10
              },
              "state": {
                "type": "string",
                "minLength": 2,
                "maxLength": 2
              },
              "zip_code": {
                "type": "string",
                "maxLength": 10
              }
            },
            "description": "Replaces the fiscal address wholesale. `null` clears it; omitting it leaves it untouched. It is never merged field by field — a partial merge would leave a company registered under half of one address and half of another."
          }
        }
      },
      "ClassificationCenterV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "f8d2a5e1-3c47-4b90-9a1b-2c8f7e3d4b95"
          },
          "company_id": {
            "type": "string",
            "format": "uuid",
            "description": "Owning company. Classification centers are company-scoped (unlike taxes which are workspace-scoped)."
          },
          "name": {
            "type": "string",
            "description": "Classification center label. Unique constraint not enforced at DB level.",
            "example": "Operacional"
          },
          "type": {
            "type": "string",
            "enum": [
              "cost",
              "revenue",
              "both"
            ],
            "description": "`cost` (deducts from gross result), `revenue` (adds to gross result), or `both` (usable on either side). Determines which operations the center is eligible for: payables accept `cost`/`both`, receivables accept `revenue`/`both`."
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Free-text annotation. May be null."
          },
          "active": {
            "type": "boolean",
            "description": "When false, the classification center is soft-deactivated. Existing payables/receivables/transactions referencing it are preserved."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "company_id",
          "name",
          "type",
          "description",
          "active",
          "created_at"
        ]
      },
      "ClassificationCenterListMeta": {
        "type": "object",
        "properties": {
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Opaque cursor. Pass back as `?cursor=…` to fetch the next page. `null` when there is no next page."
          }
        },
        "required": [
          "next_cursor"
        ]
      },
      "ClassificationCenterListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClassificationCenterV1"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/ClassificationCenterListMeta"
          }
        },
        "required": [
          "data",
          "meta"
        ]
      },
      "ClassificationCenterCreateRequest": {
        "type": "object",
        "properties": {
          "company_id": {
            "type": "string",
            "format": "uuid",
            "description": "Owning company UUID. Must belong to the tenant."
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "type": {
            "type": "string",
            "enum": [
              "cost",
              "revenue",
              "both"
            ],
            "description": "`cost` (deducts from gross result), `revenue` (adds), or `both` (usable on either side)."
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 500
          },
          "active": {
            "type": "boolean",
            "description": "Defaults to `true`."
          }
        },
        "required": [
          "company_id",
          "name",
          "type"
        ]
      },
      "ClassificationCenterUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "type": {
            "type": "string",
            "enum": [
              "cost",
              "revenue",
              "both"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 500
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "CategoryV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "f8d2a5e1-3c47-4b90-9a1b-2c8f7e3d4b95"
          },
          "company_id": {
            "type": "string",
            "format": "uuid",
            "description": "Owning company. Categories are company-scoped (siblings across companies do not share an `id`)."
          },
          "name": {
            "type": "string",
            "description": "Category label.",
            "example": "Aluguel"
          },
          "parent_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Parent category. `null` for root-level categories. Filter `?level=1` to list roots, or `?parent_id=<uuid>` to list direct children of one parent."
          },
          "level": {
            "type": "integer",
            "description": "Pre-computed depth in the tree (root = 1, direct child = 2, …). Denormalised on the row — no recursive lookup needed on the client.",
            "example": 1
          },
          "type": {
            "type": "string",
            "enum": [
              "debit",
              "credit"
            ],
            "description": "`debit` (cost — money out) or `credit` (revenue — money in). Matches the transaction sign convention."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "company_id",
          "name",
          "parent_id",
          "level",
          "type",
          "created_at"
        ]
      },
      "CategoryListMeta": {
        "type": "object",
        "properties": {
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Opaque cursor. Pass back as `?cursor=…` to fetch the next page. `null` when there is no next page."
          }
        },
        "required": [
          "next_cursor"
        ]
      },
      "CategoryListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CategoryV1"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/CategoryListMeta"
          }
        },
        "required": [
          "data",
          "meta"
        ]
      },
      "CategoryCreateRequest": {
        "type": "object",
        "properties": {
          "company_id": {
            "type": "string",
            "format": "uuid",
            "description": "Owning company UUID. Must belong to the tenant."
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "type": {
            "type": "string",
            "enum": [
              "debit",
              "credit"
            ],
            "description": "`debit` (cost) or `credit` (revenue). A subcategory must match its parent's type."
          },
          "parent_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Parent category UUID. Omit (or `null`) for a root (`level` 1). When set, the server computes `level = parent.level + 1` (max 3) and requires `type` to match the parent."
          }
        },
        "required": [
          "company_id",
          "name",
          "type"
        ]
      },
      "CategoryUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "type": {
            "type": "string",
            "enum": [
              "debit",
              "credit"
            ],
            "description": "Changing a parent's type cascades to all descendants."
          }
        }
      },
      "PersonV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "1b0bee9d-3db5-4c64-a204-afc83f54d55e"
          },
          "company_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "description": "Display name. Required.",
            "example": "ACME Comércio Ltda"
          },
          "legal_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Razão social (juridical persons) — often blank for natural persons."
          },
          "nickname": {
            "type": [
              "string",
              "null"
            ]
          },
          "kind": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "natural",
              "juridical",
              null
            ],
            "description": "`natural` (pessoa física) or `juridical` (pessoa jurídica). `null` for legacy rows where the kind was never set."
          },
          "document_type": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "cpf",
              "cnpj",
              null
            ],
            "description": "Document type for `document_number`. `cpf` for natural, `cnpj` for juridical."
          },
          "document_number": {
            "type": [
              "string",
              "null"
            ],
            "description": "Numeric-only string (no formatting / no dots / no dashes). 11 digits for CPF, 14 for CNPJ. Unique per (company, document_number) at the DB level.",
            "example": "12345678901"
          },
          "is_customer": {
            "type": "boolean",
            "description": "True when the person can receive a `receivables` charge."
          },
          "is_supplier": {
            "type": "boolean",
            "description": "True when the person can receive a `payables` charge."
          },
          "active": {
            "type": "boolean",
            "description": "When false, the person is soft-deactivated (hidden from new forms). Existing payables/receivables/transactions referencing it stay valid."
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Email addresses as a JSON array. Empty when no contact email is known."
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Phone numbers as a JSON array (E.164-ish strings). Empty when no contact phone is known."
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "company_id",
          "name",
          "legal_name",
          "nickname",
          "kind",
          "document_type",
          "document_number",
          "is_customer",
          "is_supplier",
          "active",
          "emails",
          "phones",
          "notes",
          "created_at",
          "updated_at"
        ]
      },
      "PersonListMeta": {
        "type": "object",
        "properties": {
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Opaque cursor. Pass back as `?cursor=…` to fetch the next page. `null` when there is no next page."
          }
        },
        "required": [
          "next_cursor"
        ]
      },
      "PersonListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonV1"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PersonListMeta"
          }
        },
        "required": [
          "data",
          "meta"
        ]
      },
      "PersonCreateRequest": {
        "type": "object",
        "properties": {
          "company_id": {
            "type": "string",
            "format": "uuid",
            "description": "Owning company UUID. Must belong to the tenant."
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "legal_name": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255,
            "description": "Razão social (juridical persons)."
          },
          "nickname": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255
          },
          "kind": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "natural",
              "juridical",
              null
            ],
            "description": "`natural` (pessoa física) or `juridical` (pessoa jurídica)."
          },
          "document_type": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "cpf",
              "cnpj",
              null
            ],
            "description": "Document type for `document_number`. Inferred from the number length when omitted."
          },
          "document_number": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 20,
            "description": "CPF (11 digits) or CNPJ (14 digits). Formatting is stripped; check digits are validated."
          },
          "is_customer": {
            "type": "boolean",
            "description": "Defaults to `false`. True ⇒ can receive a receivable."
          },
          "is_supplier": {
            "type": "boolean",
            "description": "Defaults to `false`. True ⇒ can receive a payable."
          },
          "active": {
            "type": "boolean",
            "description": "Defaults to `true`."
          },
          "notes": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000
          }
        },
        "required": [
          "company_id",
          "name"
        ]
      },
      "PersonUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "legal_name": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255,
            "description": "Razão social (juridical persons)."
          },
          "nickname": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255
          },
          "kind": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "natural",
              "juridical",
              null
            ],
            "description": "`natural` (pessoa física) or `juridical` (pessoa jurídica)."
          },
          "document_type": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "cpf",
              "cnpj",
              null
            ],
            "description": "Document type for `document_number`. Inferred from the number length when omitted."
          },
          "document_number": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 20,
            "description": "CPF (11 digits) or CNPJ (14 digits). Formatting is stripped; check digits are validated."
          },
          "is_customer": {
            "type": "boolean",
            "description": "Defaults to `false`. True ⇒ can receive a receivable."
          },
          "is_supplier": {
            "type": "boolean",
            "description": "Defaults to `false`. True ⇒ can receive a payable."
          },
          "active": {
            "type": "boolean",
            "description": "Defaults to `true`."
          },
          "notes": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000
          }
        }
      },
      "FinancialAccountV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "fe023ef2-a70f-4a7c-a413-abdfe4977a19"
          },
          "company_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Owning company. `null` for workspace-level accounts (no company link). Filter `?company_id=<uuid>` returns only accounts of that company."
          },
          "name": {
            "type": "string",
            "description": "Account label shown in the UI.",
            "example": "Conta Corrente Itaú"
          },
          "type": {
            "type": "string",
            "enum": [
              "checking",
              "savings",
              "cash",
              "investment",
              "credit"
            ],
            "description": "Account kind. Drives the reconcile flow and the dashboard categorisation."
          },
          "bank_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Reference to a `banks` row when the account lives at a bank. `null` for cash / non-bank accounts."
          },
          "bank": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "code": {
                "type": "string",
                "description": "Public COMPE/BACEN code.",
                "example": "341"
              },
              "name": {
                "type": "string",
                "example": "Itaú Unibanco"
              }
            },
            "required": [
              "code",
              "name"
            ],
            "description": "The account's bank denormalised as its public `{ code, name }`, so reads don't need a second call to `/banks` to translate `bank_id`. `null` when `bank_id` is null."
          },
          "agency": {
            "type": [
              "string",
              "null"
            ]
          },
          "agency_digit": {
            "type": [
              "string",
              "null"
            ]
          },
          "account_number": {
            "type": [
              "string",
              "null"
            ]
          },
          "account_digit": {
            "type": [
              "string",
              "null"
            ]
          },
          "active": {
            "type": "boolean",
            "description": "When false, the account is soft-deactivated (hidden from new forms). Existing transactions stay valid."
          },
          "disable_reconcile": {
            "type": "boolean",
            "description": "When true, the manual reconciliation screen skips this account. Useful for non-bank accounts (cash, virtual envelopes)."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "company_id",
          "name",
          "type",
          "bank_id",
          "bank",
          "agency",
          "agency_digit",
          "account_number",
          "account_digit",
          "active",
          "disable_reconcile",
          "created_at"
        ]
      },
      "FinancialAccountDetailV1": {
        "allOf": [
          {
            "$ref": "#/components/schemas/FinancialAccountV1"
          },
          {
            "type": "object",
            "properties": {
              "balance": {
                "type": "string",
                "description": "Computed current balance in BRL as a signed 2-decimal string, derived from posted (non-pending) transactions. This is the live balance — not the creation seed. Detail-only.",
                "example": "1530.45"
              }
            },
            "required": [
              "balance"
            ]
          }
        ]
      },
      "FinancialAccountListMeta": {
        "type": "object",
        "properties": {
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Opaque cursor. Pass back as `?cursor=…` to fetch the next page. `null` when there is no next page."
          }
        },
        "required": [
          "next_cursor"
        ]
      },
      "FinancialAccountListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FinancialAccountV1"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/FinancialAccountListMeta"
          }
        },
        "required": [
          "data",
          "meta"
        ]
      },
      "FinancialAccountCreateRequest": {
        "type": "object",
        "properties": {
          "company_id": {
            "type": "string",
            "format": "uuid",
            "description": "Owning company UUID — required (financial accounts must belong to a company). Must belong to the tenant. Workspace-level accounts (`company_id: null`) exist from imports but are not creatable via v1."
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "type": {
            "type": "string",
            "enum": [
              "checking",
              "savings",
              "cash",
              "investment",
              "credit"
            ]
          },
          "bank_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Reference to a `banks` row. `null` for cash / non-bank accounts."
          },
          "bank_code": {
            "type": "string",
            "minLength": 1,
            "description": "Alternative to `bank_id`: the bank's public COMPE/BACEN code (e.g. `341`), resolved to the catalog bank server-side. Mutually exclusive with `bank_id` — sending both returns 400; an unknown code returns 422.",
            "example": "341"
          },
          "agency": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 50
          },
          "agency_digit": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 5
          },
          "account_number": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 50
          },
          "account_digit": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 5
          },
          "balance": {
            "type": "string",
            "pattern": "^-?\\d{1,13}\\.\\d{1,2}$",
            "description": "Opening balance seed (signed 2-decimal string, up to 13 integer digits). Defaults to `0.00`. NOT the live balance — that is computed from transactions.",
            "example": "0.00"
          },
          "disable_reconcile": {
            "type": "boolean"
          }
        },
        "required": [
          "company_id",
          "name",
          "type"
        ]
      },
      "FinancialAccountUpdateRequest": {
        "type": "object",
        "properties": {
          "company_id": {
            "type": "string",
            "format": "uuid",
            "description": "Owning company UUID — required (financial accounts must belong to a company). Must belong to the tenant. Workspace-level accounts (`company_id: null`) exist from imports but are not creatable via v1."
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "type": {
            "type": "string",
            "enum": [
              "checking",
              "savings",
              "cash",
              "investment",
              "credit"
            ]
          },
          "bank_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Reference to a `banks` row. `null` for cash / non-bank accounts."
          },
          "bank_code": {
            "type": "string",
            "minLength": 1,
            "description": "Alternative to `bank_id`: the bank's public COMPE/BACEN code (e.g. `341`), resolved to the catalog bank server-side. Mutually exclusive with `bank_id` — sending both returns 400; an unknown code returns 422.",
            "example": "341"
          },
          "agency": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 50
          },
          "agency_digit": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 5
          },
          "account_number": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 50
          },
          "account_digit": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 5
          },
          "disable_reconcile": {
            "type": "boolean"
          },
          "active": {
            "type": "boolean",
            "description": "Set `false` to soft-deactivate (existing transactions stay valid)."
          }
        }
      },
      "AdjustBalanceRequest": {
        "type": "object",
        "properties": {
          "target_balance": {
            "type": "string",
            "pattern": "^-?\\d{1,13}\\.\\d{1,2}$",
            "description": "The balance the account should have after the adjustment. Signed 2-decimal string (up to 13 integer digits).",
            "example": "1500.00"
          },
          "category_id": {
            "type": "string",
            "format": "uuid",
            "description": "Category for the adjustment transaction. Its type must match the diff direction (credit for a positive diff, debit for negative) and its company must match the account's."
          },
          "occurred_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the adjustment transaction is dated (ISO 8601). Defaults to now."
          },
          "description": {
            "type": "string",
            "maxLength": 500,
            "description": "Overrides the auto-created transaction description (default \"Ajuste de saldo\")."
          }
        },
        "required": [
          "target_balance",
          "category_id"
        ]
      },
      "AdjustBalanceResultV1": {
        "type": "object",
        "properties": {
          "transaction_id": {
            "type": "string",
            "format": "uuid",
            "description": "The auto-created adjustment transaction."
          },
          "difference": {
            "type": "string",
            "description": "Signed `target_balance − previous_balance`.",
            "example": "250.00"
          },
          "previous_balance": {
            "type": "string",
            "description": "Calculated balance before the adjustment.",
            "example": "1250.00"
          },
          "new_balance": {
            "type": "string",
            "description": "Calculated balance after the adjustment.",
            "example": "1500.00"
          }
        },
        "required": [
          "transaction_id",
          "difference",
          "previous_balance",
          "new_balance"
        ]
      },
      "PayableV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "8c8b4c4f-2e0e-4f6e-9b8a-2a1c2b3d4e5f"
          },
          "company_id": {
            "type": "string",
            "format": "uuid"
          },
          "description": {
            "type": "string",
            "description": "Short label written by the user.",
            "example": "Aluguel — escritório matriz"
          },
          "amount": {
            "type": "string",
            "description": "Decimal as a string with 2 fractional digits. Positive — the polarity (cost) is implicit in the resource.",
            "example": "1500.00"
          },
          "interest_amount": {
            "type": [
              "string",
              "null"
            ],
            "description": "Late-payment interest paid at settlement, as a 2-decimal string. `null` when not applicable."
          },
          "discount_amount": {
            "type": [
              "string",
              "null"
            ],
            "description": "Discount obtained at settlement, as a 2-decimal string. `null` when not applicable."
          },
          "ticket_amount": {
            "type": [
              "string",
              "null"
            ],
            "description": "\"Valor liquidado\" — actual amount that left the bank. May differ from `nominal_amount` due to bank charges. `null` when not applicable."
          },
          "nominal_amount": {
            "type": "string",
            "description": "Computed: `amount + (interest_amount ?? 0) - (discount_amount ?? 0)`. Reproduced per request — not persisted.",
            "example": "1525.00"
          },
          "due_date": {
            "type": "string",
            "format": "date-time",
            "description": "When this payable is due. Filterable with range operators (`[gte]`, `[lte]`)."
          },
          "payment_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "When this payable was actually paid. `null` while pending. Reflects `status=paid` 1:1."
          },
          "competence_date": {
            "type": "string",
            "format": "date-time",
            "description": "Accounting period this charge belongs to (independent of the cash-flow `due_date`)."
          },
          "type": {
            "type": "string",
            "enum": [
              "normal",
              "recurring",
              "installment"
            ],
            "description": "Billing kind. `recurring` and `installment` link sibling rows via `group_id`."
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "paid",
              "cancelled"
            ],
            "description": "Raw status. Derive overdue client-side: `status === \"pending\" AND due_date < today`."
          },
          "person_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "person_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Denormalised display name of the related person. `null` when `person_id` is null."
          },
          "category_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "category_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Denormalised name of the related category. `null` when `category_id` is null."
          },
          "classification_center_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Primary classification center on the row. Splits (rateio) live in `classification_center_allocations[]` on the detail endpoint."
          },
          "classification_center_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Denormalised name of the primary classification center. `null` when `classification_center_id` is null."
          },
          "financial_account_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Settlement account once paid. `null` while pending or for non-account-bound payments."
          },
          "expected_account_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Projected settlement account, used by the forecast widgets pre-payment."
          },
          "payment_method_kind": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "bank_billet",
              "utility",
              "tribute",
              "ted",
              "pix",
              "credit_card",
              "debit_card",
              "cash",
              "check",
              "direct_debit",
              "other",
              "none",
              null
            ],
            "description": "`utility` (concessionária) and `tribute` are payable-only — they never appear on receivables/transactions."
          },
          "operation_kind": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "payment",
              "transfer",
              null
            ],
            "description": "Kobana operation axis. `payment` settles an existing document (boleto/tribute/utility/Pix copy-paste); `transfer` sends to a payee you identify (TED/Pix key or bank data). NULL for non-Kobana methods (cash/card/cheque). Payable-only."
          },
          "payment_approval": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "pending_approval",
              "approving",
              "creation_approved",
              "creation_rejected",
              null
            ],
            "description": "Read-only mirror of the human payment-approval gate. `null` = **official** (never gated, or already approved) — the bill is on the list. The gate is a per-workspace setting (on by default): when it is on, a payable created through this API starts `pending_approval` and is **hidden from this list until a person approves it in the app** (`GET /payables/{id}` still returns it). `creation_rejected` = blocked forever (fraud/DDA). `approving` is reserved for a future async flow. The two terminal values carry the `creation_` qualifier because `kobana_status` already uses `approved` and `rejected` for the bank's own decision — the two sets are deliberately disjoint. To **list the approval queue**, filter it explicitly — e.g. `?payment_approval=pending_approval` (or `[in]=pending_approval,creation_rejected`); the gated bills then appear. Read-only: this API never approves or rejects — that stays a human action in the app. Detail-only audit stamps (`approved_at`, `rejected_at`, `rejection_reason`, `payment_source`) live on `GET /payables/{id}`."
          },
          "document": {
            "type": [
              "string",
              "null"
            ],
            "description": "Free-form reference of the source document (e.g. `NF-12345`, `BOL-001`). Populated by the Fintera / CSV importer and matched by the listing `search` and `documentContains` filters. Distinct from `document_number`."
          },
          "document_number": {
            "type": [
              "string",
              "null"
            ],
            "description": "Structured document number — the bare identifier (e.g. `12345`). Mirrors the \"Nº de documento\" field in the app UI and is the canonical field for manually-entered / edited document numbers. Distinct from the free-form `document`."
          },
          "document_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "installment_number": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Position within an installment series. `null` for `type=normal`."
          },
          "total_installments": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Total positions in the installment series. `null` for `type=normal`."
          },
          "parcels_amount": {
            "type": [
              "string",
              "null"
            ],
            "description": "Aggregate value of the whole installment series (\"Total parcelado\"), as a 2-decimal string. Mirrored from Fintera. `null` for non-installment rows. Each parcela carries the series total — its own slice is `amount`."
          },
          "group_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Links sibling rows of a recurring/installment series. `null` for `type=normal`."
          },
          "transaction_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Settled-payment transaction once `status=paid`. `null` while pending."
          },
          "ir_relevant": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Tax-relevance flag. `null` = unclassified."
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "is_reconciled": {
            "type": "boolean",
            "description": "True when matched against a real bank transaction — a 1:1 manual link (`transaction_id` to a non-auto-created transaction) or membership in an n:m reconciliation group. Settling via the normal pay flow (which generates an auto-created transaction) does NOT set this."
          },
          "tax_charges_count": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of `tax_charges` rows attached. Full list on the detail endpoint."
          },
          "classification_center_allocations_count": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of classification-center allocations (rateio). Full list on the detail endpoint."
          },
          "attachments_count": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of attachments. Full metadata via `/api/v1/attachments`."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last-write timestamp (ISO 8601). Auto-bumped on every update."
          }
        },
        "required": [
          "id",
          "company_id",
          "description",
          "amount",
          "interest_amount",
          "discount_amount",
          "ticket_amount",
          "nominal_amount",
          "due_date",
          "payment_date",
          "competence_date",
          "type",
          "status",
          "person_id",
          "person_name",
          "category_id",
          "category_name",
          "classification_center_id",
          "classification_center_name",
          "financial_account_id",
          "expected_account_id",
          "payment_method_kind",
          "operation_kind",
          "payment_approval",
          "document",
          "document_number",
          "document_date",
          "installment_number",
          "total_installments",
          "parcels_amount",
          "group_id",
          "transaction_id",
          "ir_relevant",
          "notes",
          "is_reconciled",
          "tax_charges_count",
          "classification_center_allocations_count",
          "attachments_count",
          "created_at",
          "updated_at"
        ]
      },
      "PayableTaxDataV1": {
        "type": "object",
        "properties": {
          "tax_code": {
            "type": "string",
            "description": "DARF (código da receita) · GPS (código de pagamento)."
          },
          "reference_number": {
            "type": "string",
            "description": "DARF · GRU."
          },
          "taxpayer_type": {
            "type": "string",
            "description": "DARF · GPS."
          },
          "taxpayer_number": {
            "type": "string"
          },
          "taxpayer_name": {
            "type": "string"
          },
          "calculation_date": {
            "type": "string",
            "description": "DARF. `yyyy-mm-dd`."
          },
          "competence_date": {
            "type": "string",
            "description": "GPS. `yyyy-mm-dd`."
          },
          "expire_at": {
            "type": "string",
            "description": "DARF · GRU · GPS. `yyyy-mm-dd`."
          },
          "fine_amount": {
            "type": "number"
          },
          "interest_amount": {
            "type": "number"
          },
          "gross_income_amount": {
            "type": "number",
            "description": "DARF."
          },
          "total_amount": {
            "type": "number",
            "description": "GRU."
          },
          "discount_amount": {
            "type": "number"
          },
          "other_deduction_amount": {
            "type": "number"
          },
          "other_addition_amount": {
            "type": "number"
          },
          "other_entities_amount": {
            "type": "number",
            "description": "GPS."
          },
          "monetary_update_amount": {
            "type": "number"
          },
          "contributor_code": {
            "type": "string",
            "description": "FGTS."
          },
          "fgts_code": {
            "type": "string"
          },
          "collection_code": {
            "type": "string"
          },
          "pis_pasep_number": {
            "type": "string"
          },
          "jam_percentage": {
            "type": "number"
          },
          "connectivity_seal": {
            "type": "string"
          }
        }
      },
      "PayableClassificationCenterAllocationV1": {
        "type": "object",
        "properties": {
          "classification_center_id": {
            "type": "string",
            "format": "uuid"
          },
          "classification_center_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Denormalised name of the classification center. `null` if the join is unavailable."
          },
          "percentage": {
            "type": [
              "string",
              "null"
            ],
            "description": "Share of the total, 0–100 with 2 decimals, as a string. `null` when the row was created amount-only."
          },
          "amount": {
            "type": [
              "string",
              "null"
            ],
            "description": "Allocated amount in BRL with 2 decimals, as a string. `null` when the row was created percentage-only."
          }
        },
        "required": [
          "classification_center_id",
          "classification_center_name",
          "percentage",
          "amount"
        ]
      },
      "PayableTaxChargeV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "tax_id": {
            "type": "string",
            "format": "uuid"
          },
          "tax_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Denormalised name of the tax. `null` if the join is unavailable."
          },
          "amount": {
            "type": "string",
            "description": "Charge amount in BRL with 2 decimals, as a string."
          },
          "withholding": {
            "type": "boolean",
            "description": "`true` = amount is withheld (deducted); `false` = informational."
          }
        },
        "required": [
          "id",
          "tax_id",
          "tax_name",
          "amount",
          "withholding"
        ]
      },
      "PayableReconciliationV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "source": {
            "type": "string",
            "description": "Origin of the reconciliation group: `\"manual\"` (user-driven) or `\"fintera\"` (imported)."
          },
          "transaction_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "IDs of the bank transactions in the n:m group."
          },
          "billing_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "IDs of the billings (payables/receivables) in the group, including this payable."
          }
        },
        "required": [
          "id",
          "source",
          "transaction_ids",
          "billing_ids"
        ]
      },
      "PayableDetailV1": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PayableV1"
          },
          {
            "type": "object",
            "properties": {
              "barcode": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Boleto / tributo / concessionária barcode (linha digitável). Register-only."
              },
              "pix_copia_e_cola": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "PIX copia-e-cola (QR payload)."
              },
              "pix_key": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Beneficiary PIX key (key-based transfer)."
              },
              "pix_key_type": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "cpf",
                  "cnpj",
                  "email",
                  "phone",
                  "random",
                  null
                ]
              },
              "bank_code": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Beneficiary bank COMPE. String — leading zeros are significant (`001`)."
              },
              "bank_ispb": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Beneficiary bank ISPB (8 digits, string)."
              },
              "agency": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "agency_digit": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "account_number": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "account_digit": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "transfer_purpose": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Purpose of a TED / account PIX transfer."
              },
              "tax_kind": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "itbi",
                  "icms",
                  "iss",
                  "iptu",
                  "fgts",
                  "dare",
                  "darf",
                  "gru",
                  "gps",
                  null
                ],
                "description": "Tribute kind when `payment_method_kind = tribute`. The barcode goes in `barcode`."
              },
              "tax_data": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PayableTaxDataV1"
                  },
                  {
                    "type": [
                      "object",
                      "null"
                    ],
                    "description": "Structured guia fields, the alternative to `barcode`. `null` when the barcode was used."
                  }
                ]
              },
              "beneficiary_name": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Transfer beneficiary name. May differ from the payable's `person` (the bill owner isn't always the payee)."
              },
              "beneficiary_document": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Beneficiary CPF/CNPJ. Register-relaxed (no mask enforced)."
              },
              "scheduled_to": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time",
                "description": "Scheduled payment date (ISO 8601). Suggested default is `due_date`."
              },
              "kobana_payment_uid": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Execution-state mirror: linked Kobana payment `uid`. Read-only — populated by the execution flow, never via this API."
              },
              "kobana_status": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Execution-state mirror of the Kobana payment status enum. Read-only."
              },
              "kobana_status_updated_at": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time",
                "description": "When `kobana_status` was last mirrored (ISO 8601). Read-only."
              },
              "approved_at": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time",
                "description": "When the payable was approved (ISO 8601). Read-only. `null` unless `payment_approval = creation_approved`."
              },
              "rejected_at": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time",
                "description": "When the payable was rejected (ISO 8601). Read-only. `null` unless `payment_approval = creation_rejected`."
              },
              "rejection_reason": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Audit note recorded when the payment was rejected. Read-only."
              },
              "payment_source": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "manual",
                  "csv_import",
                  "dda",
                  "ai_agent",
                  "fiscal_document",
                  null
                ],
                "description": "Origin channel of the payable — the anti-fraud context of the approval screen (`manual` = created in the app/API, `csv_import` = the CSV importer, `fiscal_document` = generated from an instalment of a received invoice). Read-only; `null` for rows predating the feature."
              },
              "classification_center_allocations": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PayableClassificationCenterAllocationV1"
                },
                "description": "Rateio rows (classification-center allocations). Empty when the payable has no split."
              },
              "tax_charges": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PayableTaxChargeV1"
                },
                "description": "Withholding/tax charges attached to the payable. Empty when none."
              },
              "reconciliation": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PayableReconciliationV1"
                  },
                  {
                    "type": [
                      "object",
                      "null"
                    ],
                    "description": "The reconciliation group this payable belongs to, or `null` when not reconciled."
                  }
                ]
              }
            },
            "required": [
              "barcode",
              "pix_copia_e_cola",
              "pix_key",
              "pix_key_type",
              "bank_code",
              "bank_ispb",
              "agency",
              "agency_digit",
              "account_number",
              "account_digit",
              "transfer_purpose",
              "tax_kind",
              "tax_data",
              "beneficiary_name",
              "beneficiary_document",
              "scheduled_to",
              "kobana_payment_uid",
              "kobana_status",
              "kobana_status_updated_at",
              "approved_at",
              "rejected_at",
              "rejection_reason",
              "payment_source",
              "classification_center_allocations",
              "tax_charges",
              "reconciliation"
            ]
          }
        ]
      },
      "PayableListMeta": {
        "type": "object",
        "properties": {
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Opaque cursor. Pass back as `?cursor=…` to fetch the next page. `null` when there is no next page."
          }
        },
        "required": [
          "next_cursor"
        ]
      },
      "PayableListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PayableV1"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PayableListMeta"
          }
        },
        "required": [
          "data",
          "meta"
        ]
      },
      "PayableClassificationCenterSplitInput": {
        "type": "object",
        "properties": {
          "classification_center_id": {
            "type": "string",
            "format": "uuid"
          },
          "percentage": {
            "type": "number",
            "minimum": 0,
            "maximum": 100,
            "description": "Share of the total (0–100). Provide `percentage` and/or `amount`; the server normalises the pair."
          },
          "amount": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^\\d{1,13}\\.\\d{1,2}$"
              },
              {
                "type": "number",
                "minimum": 0
              }
            ],
            "description": "Allocated amount in BRL, as a 2-decimal string (`\"1920.00\"`). Provide `percentage` and/or `amount`. A JSON number is still accepted for backward compatibility; the string is canonical and is what the reads return."
          }
        },
        "required": [
          "classification_center_id"
        ]
      },
      "PayableTaxChargeInput": {
        "type": "object",
        "properties": {
          "tax_id": {
            "type": "string",
            "format": "uuid"
          },
          "amount": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^\\d{1,13}\\.\\d{1,2}$"
              },
              {
                "type": "number",
                "minimum": 0
              }
            ],
            "description": "Charge amount in BRL, as a 2-decimal string (`\"48.00\"`). A JSON number is still accepted; the string is canonical."
          },
          "withholding": {
            "type": "boolean",
            "description": "Defaults to `true` (withheld). `false` marks it informational."
          }
        },
        "required": [
          "tax_id",
          "amount"
        ]
      },
      "PayableCreateRequest": {
        "type": "object",
        "properties": {
          "company_id": {
            "type": "string",
            "format": "uuid",
            "description": "Owning company UUID. Must belong to the tenant."
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          },
          "amount": {
            "type": "string",
            "pattern": "^\\d{1,13}\\.\\d{1,2}$",
            "description": "Decimal string with 1–2 fractional digits (up to 13 integer digits). Always positive — cost polarity is implicit.",
            "example": "1500.00"
          },
          "due_date": {
            "type": "string",
            "format": "date-time",
            "description": "When this payable is due (ISO 8601)."
          },
          "competence_date": {
            "type": "string",
            "format": "date-time",
            "description": "Accounting period (ISO 8601). Defaults to `due_date` when omitted."
          },
          "type": {
            "type": "string",
            "enum": [
              "normal",
              "recurring",
              "installment"
            ],
            "description": "Defaults to `normal`. `recurring` requires `recurrence_period`; `installment` requires `total_installments` (≥ 2)."
          },
          "person_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "person_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Alternative to `person_id`. Find-or-create with `supplier` polarity, scoped to (workspace, company). Mutually exclusive with `person_id`."
          },
          "category_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "category_name": {
            "type": "string",
            "minLength": 1,
[...]
