{
  "openapi": "3.1.0",
  "info": {
    "title": "Kobana Autonomous Inbox API",
    "version": "1.1.0",
    "description": "API REST pública do Inbox Autônomo Kobana.\n\nAutenticação: Bearer JWT (HS512, `iss=kobana`, `aud=inbox/<env>`) somado a mTLS terminado no CloudFront (repassado como o header `cloudfront-viewer-mtls-client-cert-fingerprint`). O `sub` do JWT resolve o workspace do chamador via `external_id`.\n\nOs endpoints de recurso `{id}` (workspaces, inboxes, agents, webhooks) aceitam tanto o UUID interno quanto o `external_id` do recurso. Endpoints POST que possuem `external_id` o aceitam como campo opcional, usando por padrão o `id` interno gerado quando omitido. O campo `deleted_at` nunca é retornado nas respostas nem nos payloads de webhook; registros com soft-delete são filtrados em vez disso.\n\nTodas as chaves nas respostas e nos payloads de webhook estão em `snake_case`. As entregas de webhook compartilham o serializador da API: o envelope traz `event` (`slug`, `id`), `delivered_at` e `workspace`; `data` aninha snapshots dos recursos (`organization`, `agent`, `inbox`, `email`, `agent_run`) mais as chaves específicas do evento."
  },
  "servers": [
    {
      "url": "https://api.inbox.kobana.com.br",
      "description": "Produção"
    },
    {
      "url": "https://api.inbox.sandbox.kobana.com.br",
      "description": "Sandbox"
    },
    {
      "url": "https://api.inbox.staging.kobana.com.br",
      "description": "Staging"
    },
    {
      "url": "http://localhost:3028/api",
      "description": "Desenvolvimento local"
    }
  ],
  "tags": [
    {
      "name": "Workspaces"
    },
    {
      "name": "Inboxes"
    },
    {
      "name": "Emails"
    },
    {
      "name": "Agents"
    },
    {
      "name": "Agent runs"
    },
    {
      "name": "Webhooks"
    },
    {
      "name": "Webhook deliveries"
    },
    {
      "name": "System events"
    }
  ],
  "paths": {
    "/v1/workspaces": {
      "get": {
        "summary": "Listar workspaces",
        "tags": [
          "Workspaces"
        ],
        "security": [
          {
            "bearerAuth": [
              "inbox.workspaces"
            ]
          }
        ],
        "parameters": [
          {
            "name": "cloudfront-viewer-mtls-client-cert-fingerprint",
            "in": "header",
            "required": true,
            "description": "Fingerprint mTLS. Em produção o CloudFront o injeta a partir do mTLS do viewer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-origin-shared-secret",
            "in": "header",
            "required": false,
            "description": "Segredo compartilhado entre o CloudFront e a origem. Obrigatório em produção; ignorado em desenvolvimento a menos que `CF_ORIGIN_SHARED_SECRET` esteja definido.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor opaco retornado em `next_cursor` da página anterior.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Página de resultados.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Workspace"
                      }
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Falha de autenticação (JWT ou mTLS ausente/inválido).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Autenticado, mas o escopo é insuficiente ou o recurso está fora de alcance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado ou filtrado por soft-delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "list-workspaces"
      },
      "post": {
        "summary": "Criar workspace",
        "tags": [
          "Workspaces"
        ],
        "security": [
          {
            "bearerAuth": [
              "inbox.workspaces"
            ]
          }
        ],
        "parameters": [
          {
            "name": "cloudfront-viewer-mtls-client-cert-fingerprint",
            "in": "header",
            "required": true,
            "description": "Fingerprint mTLS. Em produção o CloudFront o injeta a partir do mTLS do viewer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-origin-shared-secret",
            "in": "header",
            "required": false,
            "description": "Segredo compartilhado entre o CloudFront e a origem. Obrigatório em produção; ignorado em desenvolvimento a menos que `CF_ORIGIN_SHARED_SECRET` esteja definido.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Workspace"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "O corpo falhou na validação Zod. `error.details` carrega `formErrors`/`fieldErrors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Falha de autenticação (JWT ou mTLS ausente/inválido).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Autenticado, mas o escopo é insuficiente ou o recurso está fora de alcance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado ou filtrado por soft-delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Restrição de unicidade violada (ex.: `external_id` ou `email` da inbox já em uso).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validação do corpo que requer contexto do lado do servidor (ex.: domínio da inbox incompatível).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "create-workspace"
      }
    },
    "/v1/workspaces/{id}": {
      "get": {
        "summary": "Obter workspace",
        "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso.",
        "tags": [
          "Workspaces"
        ],
        "security": [
          {
            "bearerAuth": [
              "inbox.workspaces"
            ]
          }
        ],
        "parameters": [
          {
            "name": "cloudfront-viewer-mtls-client-cert-fingerprint",
            "in": "header",
            "required": true,
            "description": "Fingerprint mTLS. Em produção o CloudFront o injeta a partir do mTLS do viewer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-origin-shared-secret",
            "in": "header",
            "required": false,
            "description": "Segredo compartilhado entre o CloudFront e a origem. Obrigatório em produção; ignorado em desenvolvimento a menos que `CF_ORIGIN_SHARED_SECRET` esteja definido.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Workspace"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Falha de autenticação (JWT ou mTLS ausente/inválido).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Autenticado, mas o escopo é insuficiente ou o recurso está fora de alcance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado ou filtrado por soft-delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "get-workspace"
      },
      "patch": {
        "summary": "Atualizar workspace",
        "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso.",
        "tags": [
          "Workspaces"
        ],
        "security": [
          {
            "bearerAuth": [
              "inbox.workspaces"
            ]
          }
        ],
        "parameters": [
          {
            "name": "cloudfront-viewer-mtls-client-cert-fingerprint",
            "in": "header",
            "required": true,
            "description": "Fingerprint mTLS. Em produção o CloudFront o injeta a partir do mTLS do viewer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-origin-shared-secret",
            "in": "header",
            "required": false,
            "description": "Segredo compartilhado entre o CloudFront e a origem. Obrigatório em produção; ignorado em desenvolvimento a menos que `CF_ORIGIN_SHARED_SECRET` esteja definido.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Workspace"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "O corpo falhou na validação Zod. `error.details` carrega `formErrors`/`fieldErrors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Falha de autenticação (JWT ou mTLS ausente/inválido).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Autenticado, mas o escopo é insuficiente ou o recurso está fora de alcance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado ou filtrado por soft-delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Restrição de unicidade violada (ex.: `external_id` ou `email` da inbox já em uso).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validação do corpo que requer contexto do lado do servidor (ex.: domínio da inbox incompatível).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "update-workspace"
      },
      "delete": {
        "summary": "Excluir workspace",
        "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso.",
        "tags": [
          "Workspaces"
        ],
        "security": [
          {
            "bearerAuth": [
              "inbox.workspaces"
            ]
          }
        ],
        "parameters": [
          {
            "name": "cloudfront-viewer-mtls-client-cert-fingerprint",
            "in": "header",
            "required": true,
            "description": "Fingerprint mTLS. Em produção o CloudFront o injeta a partir do mTLS do viewer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-origin-shared-secret",
            "in": "header",
            "required": false,
            "description": "Segredo compartilhado entre o CloudFront e a origem. Obrigatório em produção; ignorado em desenvolvimento a menos que `CF_ORIGIN_SHARED_SECRET` esteja definido.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Sem conteúdo."
          },
          "401": {
            "description": "Falha de autenticação (JWT ou mTLS ausente/inválido).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Autenticado, mas o escopo é insuficiente ou o recurso está fora de alcance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado ou filtrado por soft-delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "delete-workspace"
      }
    },
    "/v1/inboxes": {
      "get": {
        "summary": "Listar inboxes",
        "tags": [
          "Inboxes"
        ],
        "security": [
          {
            "bearerAuth": [
              "inbox.inboxes"
            ]
          }
        ],
        "parameters": [
          {
            "name": "cloudfront-viewer-mtls-client-cert-fingerprint",
            "in": "header",
            "required": true,
            "description": "Fingerprint mTLS. Em produção o CloudFront o injeta a partir do mTLS do viewer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-origin-shared-secret",
            "in": "header",
            "required": false,
            "description": "Segredo compartilhado entre o CloudFront e a origem. Obrigatório em produção; ignorado em desenvolvimento a menos que `CF_ORIGIN_SHARED_SECRET` esteja definido.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor opaco retornado em `next_cursor` da página anterior.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Página de resultados.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Inbox"
                      }
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Falha de autenticação (JWT ou mTLS ausente/inválido).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Autenticado, mas o escopo é insuficiente ou o recurso está fora de alcance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado ou filtrado por soft-delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "list-inboxes"
      },
      "post": {
        "summary": "Criar inbox",
        "tags": [
          "Inboxes"
        ],
        "security": [
          {
            "bearerAuth": [
              "inbox.inboxes"
            ]
          }
        ],
        "parameters": [
          {
            "name": "cloudfront-viewer-mtls-client-cert-fingerprint",
            "in": "header",
            "required": true,
            "description": "Fingerprint mTLS. Em produção o CloudFront o injeta a partir do mTLS do viewer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-origin-shared-secret",
            "in": "header",
            "required": false,
            "description": "Segredo compartilhado entre o CloudFront e a origem. Obrigatório em produção; ignorado em desenvolvimento a menos que `CF_ORIGIN_SHARED_SECRET` esteja definido.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InboxCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Inbox"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "O corpo falhou na validação Zod. `error.details` carrega `formErrors`/`fieldErrors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Falha de autenticação (JWT ou mTLS ausente/inválido).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Autenticado, mas o escopo é insuficiente ou o recurso está fora de alcance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado ou filtrado por soft-delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Restrição de unicidade violada (ex.: `external_id` ou `email` da inbox já em uso).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validação do corpo que requer contexto do lado do servidor (ex.: domínio da inbox incompatível).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "create-inbox"
      }
    },
    "/v1/inboxes/{id}": {
      "get": {
        "summary": "Obter inbox",
        "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso.",
        "tags": [
          "Inboxes"
        ],
        "security": [
          {
            "bearerAuth": [
              "inbox.inboxes"
            ]
          }
        ],
        "parameters": [
          {
            "name": "cloudfront-viewer-mtls-client-cert-fingerprint",
            "in": "header",
            "required": true,
            "description": "Fingerprint mTLS. Em produção o CloudFront o injeta a partir do mTLS do viewer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-origin-shared-secret",
            "in": "header",
            "required": false,
            "description": "Segredo compartilhado entre o CloudFront e a origem. Obrigatório em produção; ignorado em desenvolvimento a menos que `CF_ORIGIN_SHARED_SECRET` esteja definido.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Inbox"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Falha de autenticação (JWT ou mTLS ausente/inválido).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Autenticado, mas o escopo é insuficiente ou o recurso está fora de alcance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado ou filtrado por soft-delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "get-inbox"
      },
      "patch": {
        "summary": "Atualizar inbox",
        "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso.",
        "tags": [
          "Inboxes"
        ],
        "security": [
          {
            "bearerAuth": [
              "inbox.inboxes"
            ]
          }
        ],
        "parameters": [
          {
            "name": "cloudfront-viewer-mtls-client-cert-fingerprint",
            "in": "header",
            "required": true,
            "description": "Fingerprint mTLS. Em produção o CloudFront o injeta a partir do mTLS do viewer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-origin-shared-secret",
            "in": "header",
            "required": false,
            "description": "Segredo compartilhado entre o CloudFront e a origem. Obrigatório em produção; ignorado em desenvolvimento a menos que `CF_ORIGIN_SHARED_SECRET` esteja definido.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InboxUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Inbox"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "O corpo falhou na validação Zod. `error.details` carrega `formErrors`/`fieldErrors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Falha de autenticação (JWT ou mTLS ausente/inválido).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Autenticado, mas o escopo é insuficiente ou o recurso está fora de alcance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado ou filtrado por soft-delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Restrição de unicidade violada (ex.: `external_id` ou `email` da inbox já em uso).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validação do corpo que requer contexto do lado do servidor (ex.: domínio da inbox incompatível).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "update-inbox"
      },
      "delete": {
        "summary": "Excluir inbox",
        "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso.",
        "tags": [
          "Inboxes"
        ],
        "security": [
          {
            "bearerAuth": [
              "inbox.inboxes"
            ]
          }
        ],
        "parameters": [
          {
            "name": "cloudfront-viewer-mtls-client-cert-fingerprint",
            "in": "header",
            "required": true,
            "description": "Fingerprint mTLS. Em produção o CloudFront o injeta a partir do mTLS do viewer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-origin-shared-secret",
            "in": "header",
            "required": false,
            "description": "Segredo compartilhado entre o CloudFront e a origem. Obrigatório em produção; ignorado em desenvolvimento a menos que `CF_ORIGIN_SHARED_SECRET` esteja definido.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Sem conteúdo."
          },
          "401": {
            "description": "Falha de autenticação (JWT ou mTLS ausente/inválido).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Autenticado, mas o escopo é insuficiente ou o recurso está fora de alcance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado ou filtrado por soft-delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "delete-inbox"
      }
    },
    "/v1/agents": {
      "get": {
        "summary": "Listar agents",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "bearerAuth": [
              "inbox.agents"
            ]
          }
        ],
        "parameters": [
          {
            "name": "cloudfront-viewer-mtls-client-cert-fingerprint",
            "in": "header",
            "required": true,
            "description": "Fingerprint mTLS. Em produção o CloudFront o injeta a partir do mTLS do viewer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-origin-shared-secret",
            "in": "header",
            "required": false,
            "description": "Segredo compartilhado entre o CloudFront e a origem. Obrigatório em produção; ignorado em desenvolvimento a menos que `CF_ORIGIN_SHARED_SECRET` esteja definido.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor opaco retornado em `next_cursor` da página anterior.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Página de resultados.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Agent"
                      }
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Falha de autenticação (JWT ou mTLS ausente/inválido).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Autenticado, mas o escopo é insuficiente ou o recurso está fora de alcance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado ou filtrado por soft-delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "list-agents"
      },
      "post": {
        "summary": "Criar agent",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "bearerAuth": [
              "inbox.agents"
            ]
          }
        ],
        "parameters": [
          {
            "name": "cloudfront-viewer-mtls-client-cert-fingerprint",
            "in": "header",
            "required": true,
            "description": "Fingerprint mTLS. Em produção o CloudFront o injeta a partir do mTLS do viewer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-origin-shared-secret",
            "in": "header",
            "required": false,
            "description": "Segredo compartilhado entre o CloudFront e a origem. Obrigatório em produção; ignorado em desenvolvimento a menos que `CF_ORIGIN_SHARED_SECRET` esteja definido.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Agent"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "O corpo falhou na validação Zod. `error.details` carrega `formErrors`/`fieldErrors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Falha de autenticação (JWT ou mTLS ausente/inválido).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Autenticado, mas o escopo é insuficiente ou o recurso está fora de alcance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado ou filtrado por soft-delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Restrição de unicidade violada (ex.: `external_id` ou `email` da inbox já em uso).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validação do corpo que requer contexto do lado do servidor (ex.: domínio da inbox incompatível).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "create-agent"
      }
    },
    "/v1/agents/{id}": {
      "get": {
        "summary": "Obter agent",
        "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso.",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "bearerAuth": [
              "inbox.agents"
            ]
          }
        ],
        "parameters": [
          {
            "name": "cloudfront-viewer-mtls-client-cert-fingerprint",
            "in": "header",
            "required": true,
            "description": "Fingerprint mTLS. Em produção o CloudFront o injeta a partir do mTLS do viewer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-origin-shared-secret",
            "in": "header",
            "required": false,
            "description": "Segredo compartilhado entre o CloudFront e a origem. Obrigatório em produção; ignorado em desenvolvimento a menos que `CF_ORIGIN_SHARED_SECRET` esteja definido.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Agent"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Falha de autenticação (JWT ou mTLS ausente/inválido).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Autenticado, mas o escopo é insuficiente ou o recurso está fora de alcance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado ou filtrado por soft-delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "get-agent"
      },
      "patch": {
        "summary": "Atualizar agent",
        "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso.",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "bearerAuth": [
              "inbox.agents"
            ]
          }
        ],
        "parameters": [
          {
            "name": "cloudfront-viewer-mtls-client-cert-fingerprint",
            "in": "header",
            "required": true,
            "description": "Fingerprint mTLS. Em produção o CloudFront o injeta a partir do mTLS do viewer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-origin-shared-secret",
            "in": "header",
            "required": false,
            "description": "Segredo compartilhado entre o CloudFront e a origem. Obrigatório em produção; ignorado em desenvolvimento a menos que `CF_ORIGIN_SHARED_SECRET` esteja definido.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Agent"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "O corpo falhou na validação Zod. `error.details` carrega `formErrors`/`fieldErrors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Falha de autenticação (JWT ou mTLS ausente/inválido).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Autenticado, mas o escopo é insuficiente ou o recurso está fora de alcance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado ou filtrado por soft-delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Restrição de unicidade violada (ex.: `external_id` ou `email` da inbox já em uso).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validação do corpo que requer contexto do lado do servidor (ex.: domínio da inbox incompatível).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "update-agent"
      },
      "delete": {
        "summary": "Excluir agent",
        "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso.",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "bearerAuth": [
              "inbox.agents"
            ]
          }
        ],
        "parameters": [
          {
            "name": "cloudfront-viewer-mtls-client-cert-fingerprint",
            "in": "header",
            "required": true,
            "description": "Fingerprint mTLS. Em produção o CloudFront o injeta a partir do mTLS do viewer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-origin-shared-secret",
            "in": "header",
            "required": false,
            "description": "Segredo compartilhado entre o CloudFront e a origem. Obrigatório em produção; ignorado em desenvolvimento a menos que `CF_ORIGIN_SHARED_SECRET` esteja definido.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Sem conteúdo."
          },
          "401": {
            "description": "Falha de autenticação (JWT ou mTLS ausente/inválido).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Autenticado, mas o escopo é insuficiente ou o recurso está fora de alcance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado ou filtrado por soft-delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "delete-agent"
      }
    },
    "/v1/webhooks": {
      "get": {
        "summary": "Listar webhooks",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "bearerAuth": [
              "inbox.webhooks"
            ]
          }
        ],
        "parameters": [
          {
            "name": "cloudfront-viewer-mtls-client-cert-fingerprint",
            "in": "header",
            "required": true,
            "description": "Fingerprint mTLS. Em produção o CloudFront o injeta a partir do mTLS do viewer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-origin-shared-secret",
            "in": "header",
            "required": false,
            "description": "Segredo compartilhado entre o CloudFront e a origem. Obrigatório em produção; ignorado em desenvolvimento a menos que `CF_ORIGIN_SHARED_SECRET` esteja definido.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor opaco retornado em `next_cursor` da página anterior.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Página de resultados.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Webhook"
                      }
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Falha de autenticação (JWT ou mTLS ausente/inválido).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Autenticado, mas o escopo é insuficiente ou o recurso está fora de alcance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado ou filtrado por soft-delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "list-webhooks"
      },
      "post": {
        "summary": "Criar webhook",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "bearerAuth": [
              "inbox.webhooks"
            ]
          }
        ],
        "parameters": [
          {
            "name": "cloudfront-viewer-mtls-client-cert-fingerprint",
            "in": "header",
            "required": true,
            "description": "Fingerprint mTLS. Em produção o CloudFront o injeta a partir do mTLS do viewer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-origin-shared-secret",
            "in": "header",
            "required": false,
            "description": "Segredo compartilhado entre o CloudFront e a origem. Obrigatório em produção; ignorado em desenvolvimento a menos que `CF_ORIGIN_SHARED_SECRET` esteja definido.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Webhook"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "O corpo falhou na validação Zod. `error.details` carrega `formErrors`/`fieldErrors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Falha de autenticação (JWT ou mTLS ausente/inválido).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Autenticado, mas o escopo é insuficiente ou o recurso está fora de alcance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado ou filtrado por soft-delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Restrição de unicidade violada (ex.: `external_id` ou `email` da inbox já em uso).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validação do corpo que requer contexto do lado do servidor (ex.: domínio da inbox incompatível).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "create-webhook"
      }
    },
    "/v1/webhooks/{id}": {
      "get": {
        "summary": "Obter webhook",
        "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso.",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "bearerAuth": [
              "inbox.webhooks"
            ]
          }
        ],
        "parameters": [
          {
            "name": "cloudfront-viewer-mtls-client-cert-fingerprint",
            "in": "header",
            "required": true,
            "description": "Fingerprint mTLS. Em produção o CloudFront o injeta a partir do mTLS do viewer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-origin-shared-secret",
            "in": "header",
            "required": false,
            "description": "Segredo compartilhado entre o CloudFront e a origem. Obrigatório em produção; ignorado em desenvolvimento a menos que `CF_ORIGIN_SHARED_SECRET` esteja definido.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Webhook"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Falha de autenticação (JWT ou mTLS ausente/inválido).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Autenticado, mas o escopo é insuficiente ou o recurso está fora de alcance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado ou filtrado por soft-delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "get-webhook"
      },
      "patch": {
        "summary": "Atualizar webhook",
        "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso.",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "bearerAuth": [
              "inbox.webhooks"
            ]
          }
        ],
        "parameters": [
          {
            "name": "cloudfront-viewer-mtls-client-cert-fingerprint",
            "in": "header",
            "required": true,
            "description": "Fingerprint mTLS. Em produção o CloudFront o injeta a partir do mTLS do viewer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-origin-shared-secret",
            "in": "header",
            "required": false,
            "description": "Segredo compartilhado entre o CloudFront e a origem. Obrigatório em produção; ignorado em desenvolvimento a menos que `CF_ORIGIN_SHARED_SECRET` esteja definido.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Webhook"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "O corpo falhou na validação Zod. `error.details` carrega `formErrors`/`fieldErrors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Falha de autenticação (JWT ou mTLS ausente/inválido).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Autenticado, mas o escopo é insuficiente ou o recurso está fora de alcance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado ou filtrado por soft-delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Restrição de unicidade violada (ex.: `external_id` ou `email` da inbox já em uso).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validação do corpo que requer contexto do lado do servidor (ex.: domínio da inbox incompatível).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "update-webhook"
      },
      "delete": {
        "summary": "Excluir webhook",
        "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso.",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "bearerAuth": [
              "inbox.webhooks"
            ]
          }
        ],
        "parameters": [
          {
            "name": "cloudfront-viewer-mtls-client-cert-fingerprint",
            "in": "header",
            "required": true,
            "description": "Fingerprint mTLS. Em produção o CloudFront o injeta a partir do mTLS do viewer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-origin-shared-secret",
            "in": "header",
            "required": false,
            "description": "Segredo compartilhado entre o CloudFront e a origem. Obrigatório em produção; ignorado em desenvolvimento a menos que `CF_ORIGIN_SHARED_SECRET` esteja definido.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Sem conteúdo."
          },
          "401": {
            "description": "Falha de autenticação (JWT ou mTLS ausente/inválido).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Autenticado, mas o escopo é insuficiente ou o recurso está fora de alcance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado ou filtrado por soft-delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "delete-webhook"
      }
    },
    "/v1/emails": {
      "get": {
        "summary": "Listar emails",
        "tags": [
          "Emails"
        ],
        "security": [
          {
            "bearerAuth": [
              "inbox.emails"
            ]
          }
        ],
        "parameters": [
          {
            "name": "cloudfront-viewer-mtls-client-cert-fingerprint",
            "in": "header",
            "required": true,
            "description": "Fingerprint mTLS. Em produção o CloudFront o injeta a partir do mTLS do viewer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-origin-shared-secret",
            "in": "header",
            "required": false,
            "description": "Segredo compartilhado entre o CloudFront e a origem. Obrigatório em produção; ignorado em desenvolvimento a menos que `CF_ORIGIN_SHARED_SECRET` esteja definido.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor opaco retornado em `next_cursor` da página anterior.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Página de resultados.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Email"
                      }
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Falha de autenticação (JWT ou mTLS ausente/inválido).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Autenticado, mas o escopo é insuficiente ou o recurso está fora de alcance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado ou filtrado por soft-delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "list-emails"
      }
    },
    "/v1/emails/{id}": {
      "get": {
        "summary": "Obter email",
        "tags": [
          "Emails"
        ],
        "security": [
          {
            "bearerAuth": [
              "inbox.emails"
            ]
          }
        ],
        "parameters": [
          {
            "name": "cloudfront-viewer-mtls-client-cert-fingerprint",
            "in": "header",
            "required": true,
            "description": "Fingerprint mTLS. Em produção o CloudFront o injeta a partir do mTLS do viewer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-origin-shared-secret",
            "in": "header",
            "required": false,
            "description": "Segredo compartilhado entre o CloudFront e a origem. Obrigatório em produção; ignorado em desenvolvimento a menos que `CF_ORIGIN_SHARED_SECRET` esteja definido.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Email"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Falha de autenticação (JWT ou mTLS ausente/inválido).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Autenticado, mas o escopo é insuficiente ou o recurso está fora de alcance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado ou filtrado por soft-delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "get-email"
      }
    },
    "/v1/emails/{id}/eml": {
      "get": {
        "summary": "Baixar o .eml original",
        "tags": [
          "Emails"
        ],
        "security": [
          {
            "bearerAuth": [
              "inbox.emails"
            ]
          }
        ],
        "parameters": [
          {
            "name": "cloudfront-viewer-mtls-client-cert-fingerprint",
            "in": "header",
            "required": true,
            "description": "Fingerprint mTLS. Em produção o CloudFront o injeta a partir do mTLS do viewer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-origin-shared-secret",
            "in": "header",
            "required": false,
            "description": "Segredo compartilhado entre o CloudFront e a origem. Obrigatório em produção; ignorado em desenvolvimento a menos que `CF_ORIGIN_SHARED_SECRET` esteja definido.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fluxo bruto da mensagem no formato RFC 5322.",
            "content": {
              "message/rfc822": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Falha de autenticação (JWT ou mTLS ausente/inválido).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Autenticado, mas o escopo é insuficiente ou o recurso está fora de alcance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado ou filtrado por soft-delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "download-original-eml"
      }
    },
    "/v1/emails/{id}/reprocess": {
      "post": {
        "summary": "Reprocessar email",
        "description": "Reenfileira o processamento do email independentemente do status atual.",
        "tags": [
          "Emails"
        ],
        "security": [
          {
            "bearerAuth": [
              "inbox.emails"
            ]
          }
        ],
        "parameters": [
          {
            "name": "cloudfront-viewer-mtls-client-cert-fingerprint",
            "in": "header",
            "required": true,
            "description": "Fingerprint mTLS. Em produção o CloudFront o injeta a partir do mTLS do viewer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-origin-shared-secret",
            "in": "header",
            "required": false,
            "description": "Segredo compartilhado entre o CloudFront e a origem. Obrigatório em produção; ignorado em desenvolvimento a menos que `CF_ORIGIN_SHARED_SECRET` esteja definido.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Sem conteúdo."
          },
          "401": {
            "description": "Falha de autenticação (JWT ou mTLS ausente/inválido).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Autenticado, mas o escopo é insuficiente ou o recurso está fora de alcance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado ou filtrado por soft-delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "reprocess-email"
      }
    },
    "/v1/agent-runs": {
      "get": {
        "summary": "Listar agent runs",
        "tags": [
          "Agent runs"
        ],
        "security": [
          {
            "bearerAuth": [
              "inbox.agent_runs"
            ]
          }
        ],
        "parameters": [
          {
            "name": "cloudfront-viewer-mtls-client-cert-fingerprint",
            "in": "header",
            "required": true,
            "description": "Fingerprint mTLS. Em produção o CloudFront o injeta a partir do mTLS do viewer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-origin-shared-secret",
            "in": "header",
            "required": false,
            "description": "Segredo compartilhado entre o CloudFront e a origem. Obrigatório em produção; ignorado em desenvolvimento a menos que `CF_ORIGIN_SHARED_SECRET` esteja definido.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor opaco retornado em `next_cursor` da página anterior.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "email_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "inbox_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Página de resultados.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AgentRun"
                      }
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Falha de autenticação (JWT ou mTLS ausente/inválido).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Autenticado, mas o escopo é insuficiente ou o recurso está fora de alcance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado ou filtrado por soft-delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "list-agent-runs"
      }
    },
    "/v1/agent-runs/{id}": {
      "get": {
        "summary": "Obter agent run",
        "tags": [
          "Agent runs"
        ],
        "security": [
          {
            "bearerAuth": [
              "inbox.agent_runs"
            ]
          }
        ],
        "parameters": [
          {
            "name": "cloudfront-viewer-mtls-client-cert-fingerprint",
            "in": "header",
            "required": true,
            "description": "Fingerprint mTLS. Em produção o CloudFront o injeta a partir do mTLS do viewer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-origin-shared-secret",
            "in": "header",
            "required": false,
            "description": "Segredo compartilhado entre o CloudFront e a origem. Obrigatório em produção; ignorado em desenvolvimento a menos que `CF_ORIGIN_SHARED_SECRET` esteja definido.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AgentRun"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Falha de autenticação (JWT ou mTLS ausente/inválido).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Autenticado, mas o escopo é insuficiente ou o recurso está fora de alcance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado ou filtrado por soft-delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "get-agent-run"
      }
    },
    "/v1/inboxes/{id}/recipients": {
      "post": {
        "summary": "Adicionar destinatário permitido",
        "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso. Adiciona um email a `allowed_recipients`. Idempotente — retorna 200 com a lista atual quando o item já está presente.",
        "tags": [
          "Inboxes"
        ],
        "security": [
          {
            "bearerAuth": [
              "inbox.inboxes"
            ]
          }
        ],
        "parameters": [
          {
            "name": "cloudfront-viewer-mtls-client-cert-fingerprint",
            "in": "header",
            "required": true,
            "description": "Fingerprint mTLS. Em produção o CloudFront o injeta a partir do mTLS do viewer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-origin-shared-secret",
            "in": "header",
            "required": false,
            "description": "Segredo compartilhado entre o CloudFront e a origem. Obrigatório em produção; ignorado em desenvolvimento a menos que `CF_ORIGIN_SHARED_SECRET` esteja definido.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Destinatário já presente (nenhuma ação realizada).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "allowed_recipients": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "email"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Destinatário adicionado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "allowed_recipients": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "email"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Falha de autenticação (JWT ou mTLS ausente/inválido).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Autenticado, mas o escopo é insuficiente ou o recurso está fora de alcance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado ou filtrado por soft-delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "add-allowed-recipient"
      },
      "delete": {
        "summary": "Remover destinatário permitido",
        "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso. Remove um email de `allowed_recipients`. Aceita o email no corpo JSON ou como o parâmetro de query `email`.",
        "tags": [
          "Inboxes"
        ],
        "security": [
          {
            "bearerAuth": [
              "inbox.inboxes"
            ]
          }
        ],
        "parameters": [
          {
            "name": "cloudfront-viewer-mtls-client-cert-fingerprint",
            "in": "header",
            "required": true,
            "description": "Fingerprint mTLS. Em produção o CloudFront o injeta a partir do mTLS do viewer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-origin-shared-secret",
            "in": "header",
            "required": false,
            "description": "Segredo compartilhado entre o CloudFront e a origem. Obrigatório em produção; ignorado em desenvolvimento a menos que `CF_ORIGIN_SHARED_SECRET` esteja definido.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Destinatário removido.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "allowed_recipients": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "email"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Falha de autenticação (JWT ou mTLS ausente/inválido).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Autenticado, mas o escopo é insuficiente ou o recurso está fora de alcance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado ou filtrado por soft-delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "remove-allowed-recipient"
      }
    },
    "/v1/webhooks/{id}/test": {
      "post": {
        "summary": "Enviar um evento webhook.test",
        "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso.",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "bearerAuth": [
              "inbox.webhooks"
            ]
          }
        ],
        "parameters": [
          {
            "name": "cloudfront-viewer-mtls-client-cert-fingerprint",
            "in": "header",
            "required": true,
            "description": "Fingerprint mTLS. Em produção o CloudFront o injeta a partir do mTLS do viewer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-origin-shared-secret",
            "in": "header",
            "required": false,
            "description": "Segredo compartilhado entre o CloudFront e a origem. Obrigatório em produção; ignorado em desenvolvimento a menos que `CF_ORIGIN_SHARED_SECRET` esteja definido.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SystemEvent"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Falha de autenticação (JWT ou mTLS ausente/inválido).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Autenticado, mas o escopo é insuficiente ou o recurso está fora de alcance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado ou filtrado por soft-delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "send-a-webhook-test-event"
      }
    },
    "/v1/webhooks/{id}/regenerate-secret": {
      "post": {
        "summary": "Regenerar o segredo de assinatura",
        "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso.",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "bearerAuth": [
              "inbox.webhooks"
            ]
          }
        ],
        "parameters": [
          {
            "name": "cloudfront-viewer-mtls-client-cert-fingerprint",
            "in": "header",
            "required": true,
            "description": "Fingerprint mTLS. Em produção o CloudFront o injeta a partir do mTLS do viewer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-origin-shared-secret",
            "in": "header",
            "required": false,
            "description": "Segredo compartilhado entre o CloudFront e a origem. Obrigatório em produção; ignorado em desenvolvimento a menos que `CF_ORIGIN_SHARED_SECRET` esteja definido.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Aceita tanto o UUID interno quanto o `external_id` do recurso.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
[...]
